/* base color */
@black: #000;

@white: #fff;

@title-1:#334860;

@badgeBg:#334860;

@darkBlueBg: #5696d1;

@bodyBg: #f5f6fa;

@grey: #838385;

@lightGrey: #b3b3b3;

@redText: #d15656;

@blueBg: #8eb9e0;

// Точки перелома
@mobile: ~"(min-width: 480px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1152px)";
@desktopXL: ~"(min-width: 1440px)";


@media @desktop {}


