.section-top{
	padding-bottom: 24px;
	padding-top: 24px;
}
.section-top-title{
	padding-right: 7px;
}
.section-top--apartment{
	.section-top-filters{margin-left: auto;}
	.text-body--title{padding-right: 10px;}
	.link-filter.sample-link{
		padding-left: 2px;
		padding-right: 2px;
		margin-right: 8px;
	}
	.sample-link.link-filter--active{
		padding-left: 10px;
		padding-right: 10px;
	}


}

