
.search-result__cards{
	padding-bottom: 40px;
}
.search-result__footer{
	justify-content: center;
	align-items: center;
	padding-bottom: 80px;
	@media(min-width: 768px){
		justify-content: space-between;
	}
}