section.appartment-decription
	.container
		.row
			.col-xl-8
				.appartment-foto-wrapper
					textarea.write-note-textarea(name='user-note' autofocus)
					+mobile-slider([{imgSrc:'../img/appartment-page/slider/app-slider1'}, {imgSrc:'../img/appartment-page/slider/app-slider1'}])

					+appartment-fotorama([{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo1'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo2'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo3'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo4'}, {bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo5'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo6'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo7'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo8'},{bigFoto:'../img/appartment-page/fotorama/main-photo1', miniFoto:'../img/appartment-page/fotorama/mini-photo9'}])
					//- .col-lg-4
					//- 	+price-card('http://realtycat.pro/36732', 'info@mail.ru', '../img/test.pdf', '63 000 000','954 646','840 000')
				//-карточка с ценой на моб
				section.card-price--mobile
					include app_price-card.pug

				+appartmentDescription('75', '3', '3/12', 'Романов', 'С ремонтом','Предлагается единственная квартира такой площади с НОВЫМ ремонтом в стиле эклектика  в доме с подземным паркингом от Дон-строя.', 'Квартира с НОВЫМ ремонтом в стиле эклектика', 'В квартире спланировано: Кухня&nbsp;-&nbsp;гостиная, мастер&nbsp;-спальня, кабинет (или детская). Квартира полностью меблирована предметами интерьера от ведущих Итальянских брендов. Встроенная техника -Miele, сантехника Villeroy&Boch. Продуманная система приточной вентиляции и кондиционирования. Готова к въезду и проживанию. Собственность. Показ в любое время')


				include app_duplicate-ad.pug
				include app_hc-card.pug
				include app_map-section.pug

			//-карточка с ценой на дектопе
			.col-xl-4.app-page-right
				section.card-price--desktop
					include app_price-card.pug


