-var card1={houseComplexTitle:'ЖК “Barrin House”', houseComplexSubTitle:'ЖК «Барин хаус»', imgSrc:'BarrinHouse', regionLinks:[{linkTitle:'ЦАО,',linkHref:'#'}, {linkTitle:'Хамовники,',linkHref:'#'}], StreetAdress:'Малая Пироговская улица, 8',StreetAdressHref:'#', badgesItems:['ЦАО','Хамовники'], metroInfo:{item1:{firstIcоn:'icon-metro', stationName:'Новокузнецкая', timeNum:'&nbsp;5&nbsp;минут',iconLast:'icon-man'}}, paragrafe1:'Шесть элитных домов с&nbsp;индивидуальным оформлением&nbsp;фасадов и&nbsp;роскошными квартирами', price:'от&nbsp;23&nbsp;339&nbsp;642&nbsp;', priceArea:'53&nbsp;–&nbsp;187&nbsp;', floor:'6', roof:'3,1', blueBadgeNum1:'48', blueBadgeNum2:'116', parkingDescription:'подземная&nbsp;на&nbsp;115&nbsp;машиномест&#160;&#160;(&nbsp;17&nbsp;–&nbsp;35&nbsp;кв.м&nbsp;) , от&nbsp;4&nbsp;500&nbsp;000 руб.&nbsp;за&nbsp;м/м', readinessLevel:'сдан, 3 квартал 2017', infrastructure:'Офисные и административные помещения, кафе-кофейня', operationPrice:'328 руб./кв.м'}

section.app_hc-card

	+hcCardShort(card1)
