- var appartmentPageTitleBlock = {mainTitle:'3-комн. кв., 75 кв.м., 3/12 этаж»',subtitleName:'ЖК «Барин хаус»,',subtitleDate:'cдан в 2015', badgesItems:['ЦАО','Хамовники'], linkItems:[{linkText:'ЦАО, ',href:'#',linkIcon:'',linkClass:'link-hidden'}, {linkText:'Хамовники',href:'#',linkIcon:'',linkClass:'link-hidden'},{linkText:'Малая Пироговская, 8',href:'#'}], metroInfo:{item1:{firstIcоn:'icon-metro', stationName:'Фрунзенская', timeNum:'&nbsp;5&nbsp;минут',iconLast:'icon-man'}},updateTime:'Обновлено сегодня'};

.container
	+title-block(appartmentPageTitleBlock)