+price-card('http://realtycat.pro/36732', 'info@mail.ru', '../img/test.pdf', '63 000 000','954 646','840 000', '+7 955 555-45-45', '+79555554555', 'Андрей Кальницкий', '#', 'был олайн 2 часа назад', 'info@mail.ru', 'https://msng.link/wa/9271048499', '../img/test.pdf')
