- var card1 = {modif:'new', badgeGroup:['ЦАО', 'ВАО'], adress:'Набережная, д. 5',addressHref:'#', builtDate:'Сдан 2014', metroName:'Кропоткинская', appartmentRooms:'3-комн. кв., 156 кв.м., 3/6 этаж',titleHref:'#', price:'200 000', priceArea:' от 865 400 руб./кв.м', repaireText:'С ремонтом', cardDescription:'Ищу 1–2-комнатную квартиру в ЗАО до 92 млн. руб. Новый дом. Средний этаж. С ремонтом, в хорошем состоянии, чтобы можно было сразу въехать и жить. Другие районы и без отделки не предлагать.' ,cardDescriptionHidden:'Ищу 1–2-комнатную квартиру в ЗАО до 92 млн. руб. Новый дом. Средний этаж. С ремонтом, в хорошем состоянии, чтобы можно было сразу въехать и жить. Другие районы и без отделки не предлагать.', telNumber:'+7 985 356 56 56',telLink:'tel:89853565656', messagesData:{item1:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'} }, item2:{ImgPath:'Anton' },item3:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'день назад',addClass:'text-link--line',text:'Алла, у меня есть несколько хороших вариантов, отправлю на почту через час.'}}}, agentData:{agentName:'Жанна Гончарова',agentPageLink:'#', agentClass:'text-link--line',postedTime:'поделилась лотом два часа назад',agentCompany:'APK',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent1',downloadInfo:['user1','user2','user3','user4','user5','user4','user1','user2','user3','user4','user5']}};

- var card2 = {modif:'hot', badgeDark:'+', badgeGroup:['ЦАО', 'ВАО'], adress:'Набережная, д. 5',addressHref:'#', builtDate:'Сдан 2014', metroName:'Кропоткинская', appartmentRooms:'3-комн. кв., 156 кв.м., 3/6 этаж',titleHref:'#', price:'200 000', priceArea:' от 865 400 руб./кв.м', repaireText:'С ремонтом', sliderItems:{item1:{imgSrc:'hot-slider1'},item2:{imgSrc:'hot-slider2'},item3:{imgSrc:'hot-slider3'},item4:{imgSrc:'hot-slider4'}}, telNumber:'+7 985 356 56 56',telLink:'tel:89853565656', agentData:{agentName:'Жанна Гончарова',agentPageLink:'#', agentClass:'text-link--line',postedTime:'поделилась лотом два часа назад',agentCompany:'APK',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent1',downloadInfo:['user1','user2','user3','user4','user5','user4','user1','user2','user3','user4','user5']}, priceDown:'+', messagesData:{item1:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'} }, item2:{ImgPath:'Anton' },item3:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'день назад',addClass:'text-link--line',text:'Алла, у меня есть несколько хороших вариантов, отправлю на почту через час.'}}}};


section.hot-offer
	.container
		.section-top.section-top--hot-offer
			.title-2 Горячие предложения о продаже
			.badge.badge--red 156 новых
			.section-top-link
				+text-link('Посмотреть все','#','text-link--line')
		.section-cards
			+offer-card(card1)
			+offer-card(card2)
		.hot-offer-footer
			+button('Смотреть все горячие предложения', '#','button--basic','','Все предложения')