
- var hotOffer1 = {modif:'hot',tooltipLink:'http://realtycat.pro/36732', mailAddress: 'info@mail.ru', pdfLink:'../img/test.pdf', badgeGroup:['Хамовники', 'ЖК «Дом у Пречистенских ворот»'], adress:'1-й Обыденский переулок, 12 стр. 1',addressHref:'#', builtDate:'Сдан в 2014', metroName:'Кропоткинская', appartmentRooms:'3-комн. кв., 156 кв.м., 3/6 этаж',titleHref:'#', price:'135 000 000', priceUsd: '352 830', priceArea:' от 865 400 руб./кв.м', repaireText:'С ремонтом', sliderItems:{item1:{imgSrc:'hot-slider1'},item2:{imgSrc:'hot-slider2'},item3:{imgSrc:'hot-slider3'},item4:{imgSrc:'hot-slider4'}}, sliderSubText:'Уважаемые, коллеги! Не забывайте про мою чудесную квартирку в районе Кропоткинской.', messagesData:[{ImgPath:'Anton',author:'Антон Ленский,',authorLink:'#',publTime:'2 часа назад',addClass:'text-link--line',text:'Жанна, при быстрой сделке какую скидку дадут?'}, {ImgPath:'Janna',author:'Жанна Гончарова,',authorLink:'#',publTime:'1 час назад',addClass:'text-link--line',text: 'Максимум 5%, что тоже под вопросом.'},{ImgPath:'Andrey',author:'Андрей Кальницкий,',authorLink:'#',publTime:'45 минут назад',addClass:'text-link--line',text:'Жанна, отличная цена, когда показываешь?'}, {ImgPath:'Janna'}], agentData:{agentName:'Жанна Гончарова',agentPageLink:'#', agentClass:'text-link--line',postedTime:'поделилась лотом два часа назад',agentCompany:'ARK Realty',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent1',downloadInfo:['user1','user2','user3','user4','user5','user4','user1','user2','user3','user4','user5']}, presentationLink:'../img/test.pdf'};

- var hotOffer2 = {modif:'hot',tooltipLink:'http://realtycat.pro/36732', mailAddress: 'info@mail.ru', pdfLink:'../img/test.pdf', badgeDark:'+', badgeGroup:['Хамовники', 'ЖК «Дом у Пречистенских ворот»'], adress:'1-й Обыденский переулок, 12 стр. 1',addressHref:'#', builtDate:'1 кв. 2019', metroName:'Кропоткинская', appartmentRooms:'3-комн. кв., 156 кв.м., 3/6 этаж',titleHref:'#', price:'135 000 000', priceUsd: '352 830', priceArea:' от 865 400 руб./кв.м', repaireText:'С ремонтом', sliderSubText:'Фото скину по запросу. Вариант горячий, но клиент не хочет афишировать.Надеюсь на понимание', agentData:{agentName:'Антон Ленский',agentPageLink:'#', agentClass:'text-link--line',postedTime:'15 минут назад',agentCompany:'ARK Realty',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent2',downloadInfo:['user1','user2','user3','user4','user5']}, priceDown:'+', messagesData:[{ImgPath:'Anton',author:'Антон Ленский,',authorLink:'#',publTime:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'}, {ImgPath:'Anton'}], presentationLink:'../img/test.pdf'};


section.hot-offer
	.container
		.section-top.section-top--hot-offer
			.title-1.title-1--desk Горячие предложения о продаже
			.title-1.title-1--mob Горячие предложения
			.badge.badge--red 156 новых
			.section-top-link
				+text-link('Посмотреть все','#','text-link--line')
		.section-cards
			+offer-card(hotOffer1)
			+offer-card(hotOffer2)
		.hot-offer-footer
			+button('Смотреть все горячие предложения', '#','button--basic','','Все предложения')