- var card1 = {modif:'new',tooltipLink:'http://realtycat.pro/36732', mailAddress: 'info@mail.ru', pdfLink:'../img/test.pdf', badgeGroup:['ЦАО', 'ВАО'], appartmentRooms:'3-комн. кв., 156 кв.м., 3/6 этаж',titleHref:'#', price:'200 000', priceArea:' от 865 400 руб./кв.м', repaireText:'С ремонтом', cardDescription:'Ищу 1–2-комнатную квартиру в ЗАО до 92 млн. руб. Новый дом. Средний этаж. С ремонтом, в хорошем состоянии, чтобы можно было сразу въехать и жить. Другие районы и без отделки не предлагать.' ,cardDescriptionHidden:'  С ремонтом, в хорошем состоянии, чтобы можно было сразу въехать и жить. Другие районы и без отделки не предлагать.', telNumber:'+7 985 356 56 56',telLink:'tel:89853565656', messagesData:{item1:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'} }, item2:{ImgPath:'Anton' },item3:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'день назад',addClass:'text-link--line',text:'Алла, у меня есть несколько хороших вариантов, отправлю на почту через час.'}}}, agentData:{agentName:'Жанна Гончарова',agentPageLink:'#', agentClass:'text-link--line',postedTime:'поделилась лотом два часа назад',agentCompany:'APK',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent1',downloadInfo:['user1','user2','user3','user4','user5','user4','user1','user2','user3','user4','user5']}, presentationLink:'../img/test.pdf'};

- var card2 = {modif:'new',tooltipLink:'http://realtycat.pro/36732', mailAddress: 'info@mail.ru', pdfLink:'../img/test.pdf', badgeGroup:['ЖК «Дом у Пречистенских ворот»'],  appartmentRooms:'1-комн. кв., до 75 кв.м.',titleHref:'#', price:'30 000 000', priceArea:' от 865 400 руб./кв.м', repaireText:'Без ремонта',  telNumber:'+7 985 356 56 56',telLink:'tel:89853565656', messagesData:{item1:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'} }, item2:{ImgPath:'Anton' },item3:{ImgPath:'Anton',messageText:{author:'Антон Ленский,',authorLink:'#',publTime:'день назад',addClass:'text-link--line',text:'Алла, у меня есть несколько хороших вариантов, отправлю на почту через час.'}}}, agentData:{agentName:'Жанна Гончарова',agentPageLink:'#', agentClass:'text-link--line',postedTime:'поделилась лотом два часа назад',agentCompany:'APK',agentCompanyLink:'#', CompanyLinkClass:'text-link--line',agentAvatar:'agent1',downloadInfo:['user1','user2','user3','user4','user5','user4','user1','user2','user3','user4','user5']}, presentationLink:'../img/test.pdf'};


section.new-offer
	.container
		.section-top--new-offer
			.badge.badge--green 257 новых запросов
			+toggle-block({modif:'border',title:'Отсортированы по', items:[{name:'цене',class:'filter-active filter-toggle-item--left'},{name:'площади',class:'filter-toggle-item--right'}]})
		.section-cards
			+offer-card(card1)
			+offer-card(card2)
		.new-offer-footer
			+pagination([{href:'#', value:'1',modif:'active'},{href:'#', value:'2'},{href:'#', value:'3'},{href:'#', value:'4'},{href:'#', value:'5'},{href:'#', value:'6'},{href:'#', value:'7'},{href:'#', value:'&hellip;'}])
			+button('Показать еще 10 объявлений', '#','button--basic','','Еще 10 объявлений')



