section.chat-title
	.container
		.section-top.section-top--chat-title
			.title-1 Запросы на&nbsp;покупку
			.section-top__link
				+icon-fire
				a(href="#").text-link.text-link--line
					span Горячие предложения
					span.text-link--mob &nbsp;о продаже
