- var hcPhotoBlock = {mainPhoto:'big-photo1', hcPhotoThumb:{item1:{itemBig:'big-photo1', itemMini:'mini-photo1'},item2:{itemBig:'big-photo1', itemMini:'mini-photo2'},item3:{itemBig:'big-photo1', itemMini:'mini-photo3'},item4:{itemBig:'big-photo1', itemMini:'mini-photo4'},item5:{itemBig:'big-photo1', itemMini:'mini-photo5'},item6:{itemBig:'big-photo1', itemMini:'mini-photo6'},item7:{itemBig:'big-photo1', itemMini:'mini-photo7'}}, hcMobilPhoto:{item1:{mobilePhoto:'big-photo1',activeClass:'active'}, item2:{mobilePhoto:'big-photo1'},item3:{mobilePhoto:'big-photo1'} } };


	- var hauseObject = {area1:'53',area2:'187',floor:'6',ceilingHeight: '3,1', parkingDescription:'подземная на&nbsp;115&nbsp;машиномест&nbsp;&nbsp;&nbsp; (17–35 кв.м), от&nbsp;4&nbsp;500&nbsp;000&nbsp;руб.&nbsp;за&nbsp;м/м', objItem:{num1:'16', num2:'147'} ,readinessLevel: '3 квартал 2017, сдан&nbsp;ГК',  infrastructure:'Офисные и административные помещения, кафе&nbsp;-&nbsp;кофейня', operationPrice: '328 руб./кв.м', hauseDescription: 'ЖК “Balchug Viewpoint” занимает площадь в один гектар. По&nbsp;соседству с&nbsp;ним&nbsp;расположена небольшая Георгиевская церковь и Болотная площадь с фонтаном и сквером. Жителям комплекса доступна богатая инфраструктура района: медицинские центры, знаменитые театры и музеи, магазины, фитнес&nbsp;-&nbsp;центры.',apartmentDescription: 'Проектом предусмотрено 116 резиденций в формате апартаментов. Площадь резиденций составляет 53–187 кв.м. Для продажи предлагаются одно-,двух-,трех- и-&nbsp;четырехкомнатные апартаменты с&nbsp;гостиничным&nbsp;форматом обслуживания. В квартирах установлены панорамные окна. Из окон открываются шикарные виды на Москву. Высота потолков — 3,1 м', hiddenText:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates ut mollitia deserunt cumque soluta nihil perspiciatis doloribus impedit a asperiores optio aspernatur fuga, quia neque, aliquam, voluptatem, quisquam consequatur.'};

.container
	.row
		.col-xl-6
			+hc-photoAlbum(hcPhotoBlock)
		.col-xl-6
			+hc-description(hauseObject)
	.button-wrapper.button-wrapper--mobile.text-center
		+button('Позвонить застройщику', '#','btn-add section-btn')