- var titleBlock = {mainTitle:'ЖК «Балчуг Вьюпойнт»',subtitleName:'Balchug Viewpoint',subtitleDate:'Сдан в 2017', subtitlePrice:'23&nbsp;339&nbsp;642', badgesItems:['ЦАО','Замоскворечье'], linkItems:[{linkText:'ЦАО, ',href:'#',linkIcon:'',linkClass:'link-hidden'}, {linkText:'Замоскворечье',href:'#',linkIcon:'',linkClass:'link-hidden'},{linkText:'Садовническая набережная, 5 стр.1',href:'#'}], metroInfo:{item1:{firstIcоn:'icon-metro', stationName:'Новокузнецская', timeNum:'&nbsp;5&nbsp;минут',iconLast:'icon-man'}},updateTime:'Обновлено сегодня'};

.container
	+title-block(titleBlock)