.container
	+section-top('Расположение')
	+map-section('https://yandex.ru/map-widget/v1/?um=constructor%3A88af189bfbfa54ba0c0d87a73dcb4251c7279d8c8907e9b03d6502a0f7e32370&amp;source=constructor', ['ЦАО','Замоскворечье'], {href:'#', Text:'Садовническая набережная,&nbsp;5&nbsp;стр.1'}, [{firstIcоn:'icon-metro', stationName:'Новокузнецcкая',timeNum:'5 минут'},{ stationName:' Третьяковская',timeNum:'7 минут'}])