
-var apprtCard1 = {apprtPhotoBlock:{apprtMobilPhoto:{item1:{mobilePhoto:'sr-slider1',activeClass:'active'}, item2:{mobilePhoto:'sr-slider2'},item3:{mobilePhoto:'sr-slider1'} } },fotorama:[{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'}],tooltipLink:'http://realtycat.pro/36732',tooltipMail:'info@mail.ru',tooltipPdf:'../img/test.pdf', title:'3-комн. кв., 156 кв.м., 3/6 этаж', titleHref:'#',  price:'135 000 000',priceUsd:'350 000',areaPrice:'865 400',  hcName:'ЖК «Дом у Пречистенских ворот»',hcHref:'#', appartBuilt:'Сдан в 2014', metroName:'Кропоткинская', region:['ЦАО', 'Хамовники'],address:'1-й Обыденский переулок, 12 стр. 1',addressHref:'#',repaireText:'С ремонтом',paragrafe1:'Трехкомнатная квартира с отделкой в спокойном классическом стиле площадью&nbsp;156&nbsp;кв.м.',paragrafe2:'Функциональная планировка: кухня, гостиная с балконом и видами на Храм Христа Спасителя, 2&nbsp;спальни&nbsp;со&nbsp;своими ванными комнатами и большим балконом, гардеробная, постирочная.',paragrafe3:'На подземном паркинге есть 1 машино-место. Продается без мебели',paragrafe4:'Клубный «Дом у Пречистенских Ворот» — это шестиэтажный особняк, образец классического стиля. В&nbsp;здании работают бассейн, тренажерный зал, сауна, детская игровая площадка. Территория комплекса оснащена',phoneNumber:'+7 985 356 4524', publicDate:'Добавлено сегодня' }

-var apprtCard2 = { title:'3-комн. кв., 108 кв.м., 5/5 этаж', titleHref:'#',  price:'35 100 000',priceUsd:'350 000',areaPrice:'325 000', darkBadge:'Новостройка', hcName:'ЖК «Большая почтовая», 5',hcHref:'#', appartBuilt:'Сдан в 2001', metroName:'Бауманская',tooltipLink:'http://realtycat.pro/36732',tooltipMail:'info@mail.ru',tooltipPdf:'../img/test.pdf', region:['ВАО'],address:'Большая почтовая, 5',addressHref:'#',repaireText:'Без ремонта',paragrafe1:'Трехкомнатная квартира с отделкой в спокойном классическом стиле площадью&nbsp;156&nbsp;кв.м.',paragrafe2:'Функциональная планировка: кухня, гостиная с балконом и видами на Храм Христа Спасителя, 2&nbsp;спальни&nbsp;со&nbsp;своими ванными комнатами и большим балконом, гардеробная, постирочная.',paragrafe3:'На подземном паркинге есть 1 машино-место. Продается без мебели',paragrafe4:'Клубный «Дом у Пречистенских Ворот» — это шестиэтажный особняк, образец классического стиля. В&nbsp;здании работают бассейн, тренажерный зал, сауна, детская игровая площадка. Территория комплекса оснащена',phoneNumber:'+7 985 356 4524', publicDate:'Два дня назад' }

-var apprtCard3 = {apprtPhotoBlock:{ apprtMobilPhoto:{item1:{mobilePhoto:'sr-slider1',activeClass:'active'}, item2:{mobilePhoto:'sr-slider1'},item3:{mobilePhoto:'sr-slider1'} } },fotorama:[{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'}],tooltipLink:'http://realtycat.pro/36732',tooltipMail:'info@mail.ru',tooltipPdf:'../img/test.pdf', title:'3-комн. кв., 108 кв.м., 5/5 этаж', titleHref:'#',  price:'35 100 000',priceDown: 'Цена снижена',priceUsd:'350 000',areaPrice:'325 000', darkBadge:'Новостройка', hcName:'ЖК «Большая почтовая», 5',hcHref:'#', appartBuilt:'Сдан в 2001', metroName:'Бауманская', region:['ВАО'],address:'Большая почтовая, 5',addressHref:'#',repaireText:'Без ремонта',paragrafe1:'Трехкомнатная квартира с отделкой в спокойном классическом стиле площадью&nbsp;156&nbsp;кв.м.',paragrafe2:'Функциональная планировка: кухня, гостиная с балконом и видами на Храм Христа Спасителя, 2&nbsp;спальни&nbsp;со&nbsp;своими ванными комнатами и большим балконом, гардеробная, постирочная.',paragrafe3:'На подземном паркинге есть 1 машино-место. Продается без мебели',paragrafe4:'Клубный «Дом у Пречистенских Ворот» — это шестиэтажный особняк, образец классического стиля. В&nbsp;здании работают бассейн, тренажерный зал, сауна, детская игровая площадка. Территория комплекса оснащена',phoneNumber:'+7 985 356 4524', publicDate:'Вчера' }

section.search-result
	.container
		.section-top.section-top--search-result
			.title-1 Поиск квартир

			.search-result-save-box
				.search-result-save-badges
					+badge-group(['2-х комн.', '50 - 100 кв.м.', '50 000 000 - 70 000 000 руб.','с ремонтом'])(class="badge-group--search-appart")
				.save-box--option
					+link('Сохранить поиск','#','icon-heart')(class="icon-heart--small")
					+text-link('Сбросить все','#','text-link--grey')

			.search-result__top--filters
				+custom-checkbox('Сгруппировать по ЖК')(class=' check--hc-type')
			+toggle-block({modif:'border',title:'Отсортированы по', items:[{name:'цене',class:'filter-active filter-toggle-item--left'},{name:'площади',class:'filter-toggle-item--right'}]})
		.section-cards-wrapper
			.vertical-border
			+appartment-card(apprtCard1)
			+appartment-card(apprtCard2)
			+appartment-card(apprtCard3)
		.section-cards-wrapper
			+appartment-card(apprtCard1)
			+appartment-card(apprtCard2)
			+appartment-card(apprtCard3)
		.search-result__footer.d-flex
			+pagination([{href:'#', value:'1',modif:'active'},{href:'#', value:'2'},{href:'#', value:'3'},{href:'#', value:'4'},{href:'#', value:'5'},{href:'#', value:'6'},{href:'#', value:'7'},{href:'#', value:'&hellip;'}])
			+button('Показать еще 10 объектов', '#','button--basic')
