.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк

	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
			+linkLeftPanel("Workflow", "docs-workflow.html")

	.left-panel__section
		p.strong База
		.left-panel-nav

			+linkLeftPanel("Цвета", "colors.html")
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Стили для ссылок", "links.html")
			+linkLeftPanel("Иконки", "icon-svg.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Переключатель фильтра", "filter-toggle.html")

			+linkLeftPanel("Поля ввода input", "sr_inputs.html")

			+linkLeftPanel("Кнопка количество комнат", "sr_number--rooms.html")




	.left-panel__section
		p.strong Блоки
		.left-panel-nav

			+linkLeftPanel("Шапка", "header-top.html")
			+linkLeftPanel("Футер", "footer.html")
			+linkLeftPanel("Блоки-миксины", "components-mixins.html")

	.left-panel__section
		p.strong Страница ЖК
			.left-panel-nav

				+linkLeftPanel("ЖК. Блок с фото", "hc-photo-block.html")
				+linkLeftPanel("ЖК. Строка таблицы квартир", "hc-apartment-row.html")
				+linkLeftPanel("ЖК. Блок с заголовком", "hc-title-block.html")
				+linkLeftPanel("ЖК. Карточка дома", "hc-card.html")
				+linkLeftPanel("Панель опций", "hc-options-panel.html")

	.left-panel__section
		p.strong Поиск квартир
			.left-panel-nav

				+linkLeftPanel("Карточка квартиры", "sr_appartment-card.html")
				+linkLeftPanel("Тултип", "tooltip.html")

	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("ЖК. Описание", "hc-description.html")
			+linkLeftPanel("Таблица квартир", "apartment-table.html")
			+linkLeftPanel("Карточки квартир", "hc-cards-section.html")
			+linkLeftPanel("Секция с картой", "map-section.html")


	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Страница ЖК", "../hause-complex-page.html")





#ui-nav-toggle Скрыть/Показать навигацию
