.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк

	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
			+linkLeftPanel("Workflow", "docs-workflow.html")

	.left-panel__section
		p.strong База
		.left-panel-nav

			+linkLeftPanel("Цвета", "colors.html")
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Стили для ссылок", "links.html")
			+linkLeftPanel("Иконки", "icon-svg.html")
			+linkLeftPanel("Бейджи", "badges.html")




	.left-panel__section
		p.strong Блоки
		.left-panel-nav

			+linkLeftPanel("ЖК. Блок с фото", "hc-photo-block.html")
			+linkLeftPanel("ЖК. Строка таблицы квартир", "hc-apartment-row.html")
			+linkLeftPanel("Шапка", "header-top.html")



	.left-panel__section
		p.strong Секции
		.left-panel-nav
			//- +linkLeftPanel("Текстовые блоки стр Article", "article-text.html")


	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Главная", "../main.html")





#ui-nav-toggle Скрыть/Показать навигацию
