.hc-card--short{
	display: block;
	margin-left: -16px;
	min-width: 360px;
	background-color: @white;
	padding: 25px;
	@media(min-width: 360px){
		margin-left: auto;
		margin-right: auto;
		min-width: 280px;
	}
	@media(min-width: 768px){
		// display: flex;
		max-width: 850px;
		min-height: 450px;
		border-radius: 5px;  
		padding: 15px 15px 20px 15px;   
	}
}

.hc-card-row{
	display: block;
	@media(min-width: 768px){
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.hc-card-row__item{
	@media(min-width: 768px){width: 60%;}
	}

.hc-card-row__item-img{
	order: 1;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	@media(min-width: 768px){
		padding-bottom: 0;
		order: 2;
		min-width: 170px;
		max-width: 170px;
		// min-height: 100px;
		padding: 0;
	}
}

.hc-card-row__title{
	order: 2;
	width: 100%;
	@media(min-width: 768px){order: 1;}

	.row-text-title{
		display: block;
		padding-bottom: 20px;
		@media(min-width: 768px){
			display: flex;
			padding-bottom: 17px;
		}

		.simple-link{
			font-size: 20px;		
			@media(min-width: 768px){
				margin-right: 10px;
				padding-bottom: 0;
			}
		}

		.text-body--grey{
			padding-top: 8px;
			@media(min-width: 768px){padding-top: 0;}
		}
	}

	.metro-block{
		// display: block;
		padding-bottom: 30px;
		@media(min-width: 768px){
			padding-bottom: 15px;
		}
	}
}

.row-text-subtitle{
	display: block;
	padding-bottom: 30px;
	@media(min-width: 768px){
		display: flex;
		padding-bottom: 14px;
	}

	.badge-group{
		display: none;
		@media(min-width: 768px){display: flex;}
		.badge{margin-right: 10px;}
	}

	.link-group-hidden{
		display: block;
		@media(min-width: 768px){display: none;}
	}
}

.hc-card-description{
	display: block;
	@media(min-width: 768px){
		display: flex;
		padding-bottom: 25px;
	}
}

.hc-card-row-info{
	// display: none;
	@media(min-width: 768px){
		display: flex;
		width: 100%;
		padding-bottom: 20px;
	}
	.hc-card-row__info{
		padding-right: 45px;
	}

	// .headline-bold{font-size: 14px;}
}

.link-group-hidden{
	a{margin-right: 5px;}
}

.big-badge--short{
	@media(min-width: 768px){
		max-width: 170px;
		margin-left: auto;
	}
}

.hc-card-row-details{
	@media(min-width: 768px){
		// display: flex;
		// width: 100%;
		padding-bottom: 25px;
	}
}

.hc-card-row-add{
	@media(min-width: 768px){
		min-width: 170px;
	}
	
}