.button {
	font-size: 16px;
	line-height: 16px;

	border-radius: 3px;
	text-align: center;
	background-color: @btnBg;
	color: @white;
	display: inline-block;
	outline: none;
	transition: .25s;

	&:hover, &:active, &:focus {
		color: @white;
		text-decoration: none;
		opacity: .85;
	}
	@media(min-width: 768px){font-size: 14px;}
}
.button--basic{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	@media(min-width: 768px){
		height: 30px;
		width: auto;
		display: inline-flex;
		padding-left: 32px;
		padding-right: 32px;
	}
}
.btn-add {
	position: relative;
	min-width:270px;
	height:60px;
	padding: 1.6rem 4.8rem ;
	white-space: nowrap;

	font-weight: 500;


	@media (min-width:768px) {

		padding: 7px 10px 8px 28px;
		min-width: 200px;
		height: 30px;
	}
}
.btn-add:before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(170%, -43%);
	width: 20px;
	height: 20px;
	background-image: url(../../img/plus.svg);
	background-repeat: no-repeat;

}
@media(min-width: 768px){
.btn-add:before{
	content: "\f067";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(170%, -30%);
	width: 20px;
	height: 20px;
	font-size: 26px;
	font-family: FontAwesome;
		width: 8px;
		height: 8px;
		font-size: 14px;
		transform: translate(245%, -80%);

	}
}

.btn-tel{
	width: 120px;
	height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	line-height: normal;

	font-weight: 700;

	@media (min-width:768px) {
		padding: 6px 10px;
		width: 108px;
		min-height: 24px;
	}
}

.mobile-button{
	display: flex;
	position: relative;
	color: @white;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	img{margin:auto;}
	transition: .25s;

	&:hover, &:active, &:focus {
		color: @white;
		opacity: .85;
	}
}
.btn-add.section-btn{
	padding-right: 32px;
	text-align: center;

	padding-left: 32px;
}
.btn-add.section-btn:before{display: none;
}
.card a.button{
	color: #fff;
	font-weight: 700;
	padding: 20px 50px;
}
.button-wrapper{
	margin-top: 35px;
	margin-bottom: 20px;

}
.button-wrapper--mobile{
	display: block;
	@media(min-width: 768px){display: none;}
}
.section-btn{
	border-radius: 5px;
}
//-синяя кнопка с иконкой колокольчик
.btn-mode1{
	display: inline-flex;
	align-items: center;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 700;
	width: 100%;
	.icon-notify{
		height: 60px;
		display: flex;
		padding-right: 19px;
		border-right: 1px solid #2874bc;

		svg{
			margin: auto;
			width: 19px;
			height: 22px;
		}
		path {fill: @white;}
		@media(min-width: 768px){
			border-right: 0px;
			padding-right: 9px;
		}
	}
	.btn-text--mobile{
		font-size: 16px;
		height: 60px;
		padding-top: 23px;
		padding-left: 39px;
		border-left: 1px solid #569ada;
		@media(min-width: 768px){display:none;}
	}
	.btn-text{
		display:none;
		@media(min-width: 768px){display: block;}
	}
	@media(min-width: 768px){
		width: auto;
		height: 30px;
	}
}