.card-offer{
	
	@media(min-width:768px){
		display: block;
	}
}

.offer-row{
	display: flex;
	// justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
	
	.appartment-page-link{
		position: relative;
		top: auto;
		right: auto;
		margin-left: auto;
	}
}

.offer-row--title{
	align-items: flex-start;

	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    
	 @media(min-width:768px){
	        align-items: center;
	 	
	 	-webkit-flex-direction: row;
	 	    -ms-flex-direction: row;
	 	        flex-direction: row;
	 }   
	    
}

.card-description{
	

	@media(min-width:768px){

	}
}

.offer-row--swipe{
	box-sizing: border-box;
  	
  	padding: 16px;

  	overflow-x: auto;
  	overflow-y: hidden;
  	white-space: nowrap;


  &::-webkit-scrollbar {
    display: none;
  }
}
	

