.card-wrapper{
	// display: flex;
	// justify-content: space-between;
	background-color: #4286f4;
	width: 600px;
	height: 700px;
	// @media(min-width:768px){
	// 	display: block;
	// }
}

.card-description{
	background-color: #21c3ef;
	width: 100px;
	height: 55px;
	font-size: 16px;

	@media(min-width:768px){

	}
}

// .badge-row{
// 	background-color: #dbe24a;
// 	width: 100px;
// 	height: 55px;

// 	@media(min-width:768px){

// 	}
// }

// .title-row{
// 	background-color: #2be2b1;
// 	width: 100px;
// 	height: 55px;

// 	@media(min-width:768px){

// 	}
// }

// .info-row{
// 	background-color: #6f49d8;
// 	width: 100px;
// 	height: 55px;
	
// 	@media(min-width:768px){

// 	}
// }

// .tools-row{
// 	background-color: #f279f2;
// 	height: 55px;
// 	width: 100px;

// 	@media(min-width:768px){

// 	}
// }

// .agent-card{
// 	background-color: #4871ea;
// 	height: 55px;
// 	width: 100px;

// 	@media(min-width:768px){

// 	}
// }
