.card-offer{
	display: block;
	
	@media(min-width:992px){display: flex;}

	.card-description{
		width: 100%;
		padding: 10px;
		background-color: @white;
		border-radius: 10px 0 0 10px;
        // display: block;
        @media(min-width:768px){border-radius: 10px 10px 0 0;}
        @media(min-width:992px){
        	width: 80%;
        	padding: 20px;
			border-radius: 10px 0px 0 10px;
        	
        }
    }
}

.offer-row{
	display: flex;
	align-items: center;
	padding-bottom: 25px;
	padding-left: 20px;
	// padding-top: 20px;
	padding-right: 28px;
	
	.offer-row--swipe{
		padding-bottom: 30px;
		@media(min-width:768px){margin-bottom: 0;}
	}

	.appartment--built{
		@media(min-width:768px){
			// padding-right: 10px;
		}
	}
		
	
	.appartment-card--address{
		@media(min-width:768px){
			margin-right: 15px;}
		}
	  
    .badge{margin-right: 10px;}
	
    .metro-block{
    	@media(min-width:768px){
    		padding-right: 10px;}
    	}


    .appartment-page-link{
    	position: relative;
    	top: auto;
    	right: auto;
    	margin-left: auto;
    	.share-link-text{display: none;}
    }

	.appartment-card__toolbar{width: 100%;}	

	// .appartment-card--mb{
	// 	padding-left: 70px;
	// 	@media(min-width:768px){
			
	// 	}
	// }
	
	.headline-bold{
		margin-bottom: 17px;
		@media(min-width:768px){margin-bottom: 0;}
	}

	.appartment-card__price--area{
		display: none;
		@media(min-width:768px){display: block;}
	}
}

.offer-row--transform{
	display: block;
	padding-top: 16px;
	@media(min-width:768px){
		display: flex;
	}
	@media(min-width:1200px){
		padding-top: 0;
	}
}

.offer-row--info{
	display: block;
	
	.text-hidden{
		display: none;
		
		@media(min-width: 768px){
			display: block;
		}

	.text-hidden:after{
		display: none;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
		height: 3em;
		background-color: rgba(255, 255, 255, 0);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #f5f6fa 100%);
}
		@media(min-width: 768px){
			display: block;
		}
	}	
}

	.more{
		// display: block;
		@media(min-width: 768px){
			display: none;
		}
	}

.offer-row--title{
	align-items: flex-start;
    flex-direction: column;
    padding-right: 30px;
	    
	 @media(min-width:1200px){
	    align-items: center;
	 	flex-direction: row;
		// padding-right: 30px;
	 	
	 }  
	
	.simple-link{
	 	margin-bottom: 17px;
	 	font-size: 16px;
	 	@media(min-width:768px){
	 		font-size: 20px;
			margin-right: 30px;
	 		margin-bottom: 0;
	 	}	
	}

	.appartment-card__price--area{
		margin-right: 30px;
	}
	    
}

.icons-like{
	display: flex;
	// -webkit-align-items: center;
	//         align-items: center;
	margin-left: auto; 
	
	.icon-group{
		display: none;
		@media(min-width:768px){
			display: flex;
			
			
		}
	}  
	
	.group--icon-dislike{
		// display: inline-box;
		margin-left: 22px;
	}
	
}


.row-line{
	padding-bottom: 20px;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #ced9f2;
}

.card-description-chat{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #f5f6fa;
	
	@media(min-width:768px){
		background-color: @white;

	}
}

.offer-row--swipe{
	box-sizing: border-box;
  	
  	padding: 16px;

  	overflow-x: auto;
  	overflow-y: hidden;
  	white-space: nowrap;


  &::-webkit-scrollbar {
    display: none;
  }
}
	

