.option-panel-wrapper{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	@media(min-width: 992px){width: 965px;}
	@media(min-width: 1200px){width: 1170px;}
	@media(min-width: 1350px){width: 1330px;}
}
.option-panel{
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	border-radius: 5px;
	border:1px solid #e5e9f2;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;

	.icon-add svg{
		width: 16px;
	}
}
.order-item{
	margin-left: auto;
	padding-right: 0;
	.link-block__text{order: 1;}

	.link-block__icon{
		padding-left: 10px;
		padding-right: 0;
		order: 2;
	}
}

// .option-panel{
// 	.icon-heart path{fill: @redText;}
// 	.fa-heart{width: 19px;
// 		height: 17px;}

// }
.icon-heart--small{
	.icon-heart path{fill: @redText;}
	.fa-heart{width: 19px;
		height: 17px;}
}
.dropdown{
	display: none;
	position: relative;
	left: 0px;
	right: 0px;
	padding: 0px;
	border-radius: 0 0 5px 5px;
	z-index: 10;
	background-color: #f5f6fa;
	border:1px solid #e5e9f2;
	border-top: 0px;
	margin-top: -6px;
	padding-bottom: 15px;
	.dropdown-item{
		width: 100%;
		padding: 10px 20px;
		white-space:unset;
		.link-block--pl,
		.order-item{margin-left: 28px;}

	}
	.link-block__text--line{margin-left: 28px;}
}
.option-panel--desktop{
	display: none;
	@media(min-width: 1200px){display: flex;}
}
.option-panel--mobile{
	display: flex;
	@media(min-width: 1200px){display: none;}
}
.icon-down--rotate{
	transform: rotate(180deg) translate(-25%);
}

.dropdown-item:hover{
	background-color: @btnBg;

	.simple-link span{
		color: @white;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 60%, transparent 60%);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 5px 1px;
      }

      a{
      	color:@white;
      	border-bottom-color: @white;}
      	.icon-add path,
      	.icon-question path,
      	.icon-notify path {fill: @white;}

		.watch-announcements{.simple-link{color:@white;}}
      	.watch-announcements--active {
      		.simple-link{color:@white;}
      		.icon-notify path {fill: @redText;}

      	}

    }