.hc-photo-wrapper {
	display: none;
	margin-bottom: 40px;
	@media(min-width: 768px){display: block;}
}
.hc-photo-mobile{
	display: block;
	@media(min-width: 768px){display:none ;}
	.carousel-item img{
		border-radius: 5px;
	}
}

.switch-block__main-photo {
	// min-height: 344px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	position:relative;
	margin-bottom: 8px;
	// width: 344px;
	// height: 344px;


	img {
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		display: block;
		position:absolute;
		top:0; bottom:0;
		left:0; right:0;
		// @media (min-width: 1200px){
		// 	width: 540px;
		// 	height: 325px;
		// }
	}

	@media (min-width: 768px) {
		// min-height: 360px;
		width: 630px;
		height: 425px;
		margin-bottom: 10px;
	}
	@media (min-width: 992px){
		// min-height: 524px;
		width: 450px;
		height: 305px;
		// margin-bottom: 0;
	}
		@media (min-width: 1200px){
		// min-height: 524px;
		width: 540px;
		height: 360px;
		// margin-bottom: 0;
	}
			@media (min-width: 1350px){
		// min-height: 524px;
		width: 630px;;
		height: 425px;
		// margin-bottom: 0;
	}
}


.switch-block__thumbnails {
	display: none;
	justify-content: space-between;
	cursor: pointer;
		@media (min-width: 768px) {
		// min-height: 524px;
		display: flex;
		width: 630px;
		margin-left: auto;
		margin-right: auto;
		// height: 424px;
		// margin-bottom: 0;

	}
		@media (min-width: 992px) {
			width: 450px;
		}
		@media (min-width: 1200px){
		// min-height: 524px;
		width: 540px;

		// margin-bottom: 0;
	}
		@media(min-width: 1350px) {
		// min-height: 524px;
		width: 630px;
		// height: 424px;
		// margin-bottom: 0;
	}
}

.thumbnails__image {
	// border:1px solid red;
	// margin-right: 8px;
	width: 80px;
	height: 70px;
	overflow:hidden;
	position:relative;
	border-radius: 8px;

	@media(min-width: 768px){
		width: 80px;
		// height: 70px;
	}

	@media(min-width: 992px) {
		width: 60px;
		height: 50px;
		// max-width: 100%;
	}
	@media(min-width: 1200px) {
		width: 70px;
		height: 60px;
		// max-width: 100%;
	}
	@media(min-width: 1350px) {
		width: 80px;
		height: 70px;
		// max-width: 100%;
	}
	&:last-child {
		margin-right: 0;
		@media (min-width: 768px) {margin-right: 0;}
	}

	img {
		max-height: 100%;
		max-width: 100%;
		display: block;
		position:absolute;
		margin:auto;
		top:0;bottom:0;
		right: 0;left:0;
	}
}
