i{
	display: inline-block;
	cursor: pointer;
	transition: .5;
}
.notify{
	position: relative;
	display: inline-block;

	.notify-marker{
		position: absolute;
		top: -5px;
		right: -7px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: @redText;
	}
}
//-heart
.svg-inline--fa{
	font-size: 24px;
	cursor: pointer;
}

.icon-heart--red{
	path{
		fill: @redText;
	}
}
.icon-heart--grey{
	path{
		fill: @lightGrey;
	}
}
//-search
.icon-search{
	path{fill: @lightGrey;}
}