.form-input{
	width: 100%;
	
	border: 1px solid #b3b3b3; 
	border-radius: 3px; 
	background: #fff !important; 
	outline: none;    
	background-color: rgb(255, 255, 255);
	color: #b3b3b3;
	width: 272px;
	height: 42px;

	cursor: pointer;

}