.link-block {
	display: inline-flex;
	align-items: center;
	padding-right: 24px;
}

.link-block__icon {
	margin-right: 8px;
	width: 24px;
	height: 24px;
}

.link-block__text{
	padding-bottom: 1px;
	border-bottom: 1px dashed red;
}

.link-block__text--line {
	border-bottom: 1px solid red;
}

