mixin price-card(tooltipLink,tooltipEmail,tooltipPdf,appPriceRub,appPriceUsd,appPriceArea,phoneNumber, phoneNumberHref)
	.appartment-price
		.appartment-page-link
			.share-link-text Поделиться
			+share-link
			+tooltip(tooltipLink, 'mailto:'+ tooltipEmail,tooltipPdf)
		.appartment-price__row.appartment-price__row-title
			.appartment-price__title.headline-bold !{appPriceRub} руб.
		.appartment-price__row.appartment-price__row-subtitle
			.appartment-price__usd $!{appPriceUsd}
			.appartment-price__area.text-body.text-body--grey !{appPriceArea} руб./кв.м
		.appartment-price__row.appartment-price__btn
			+button('Показать телефон', '#','button--basic')
			.appartment-price__phone-block
				.phone-block-item.phone-block-item--flex
					a(href='tel:'+phoneNumberHref ).headline-bold +7 999 455 55 55
					+link('В избранное','','icon-heart','fix-width')(class=" add-favorite icon-heart--small")

				.phone-block-item
					+text-link('Андрей Кальницкий,','#','agent-name')
					span.text-body был онлайн 2 часа назад


		.appartment-price__row.appartment-price__message
			.appartment-price__message-title Написать сообщение
			form(method='post', action='')
				textarea.appartment-price__textarea(name="appartment-price__textarea" autofocus='' placeholder='Написать сообщение' rows='3')
