//-миксин для одного комментария
mixin comment(imgPath,commentData)
	if commentData
		.message
			.message-author
				img(src="../img/message/"+imgPath+".png", alt="")
			.message-block&attributes(attributes)
				.message-top
					+text-link(commentData.author,commentData.authorLink,commentData.addClass)
					.message-time !{commentData.time}
				.comment(contenteditable='true') #{commentData.text}
	else
		.message
			.message-author
				img(src="../img/message/"+imgPath+".png", alt="")
			.message-block&attributes(attributes)
				.comment(contenteditable='true')


//-миксин блока комментариев
mixin messages(messagesData)
	.messages-block&attributes(attributes)
		each item in messagesData
			if item.messageText
				.message
					.message-author
						img(src="../img/message/"+item.ImgPath+".png", alt="")
					.message-block
						.message-top
							+text-link(item.messageText.author,item.messageText.authorLink,item.messageText.addClass)
							.message-time !{item.messageText.publTime}
						.comment(contenteditable='true') #{item.messageText.text}
			else
				.message
					.message-author
						img(src="../img/message/"+item.ImgPath+".png", alt="")
					.message-block
						.comment(contenteditable='true')


