mixin page-footer
	footer.footer
		.container
			.footer-top.d-flex
				.logoblock.d-flex
					+logo-icon
					.logo-text Профессиональный каталог недвижимости Москвы
				.links-block.d-flex
					a(href='#').simple-link Как присоединиться
					a(href='#').simple-link О каталоге
					a(href='#').simple-link Контакты

				.button-block
					+button('Добавить квартиру', '#', 'btn-add')

			.footer-bottom.d-flex
				.footer-bottom__copyright.
					 &copy;2018 RealtyCat — Профессиональный каталог недвижимости Москвы
				.footer-bottom__politic
					a(href='#').simple-link Политика конфиденциальности


		.realty-cat-img
			+realty-cat


