//-стрелка-уголок вниз
mixin arrow-down
	i.arrow-down&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='21.938', height='11.969', viewBox='0 0 21.938 11.969')
			defs
				style.
					.cls-1 {
					fill: #2c81d1;
					fill-rule: evenodd;
					}
			path.cls-1(id='arr-down.svg', d='M294.774,526.232a0.766,0.766,0,0,0-1.1,0l-9.665,9.874-9.684-9.874a0.766,0.766,0,0,0-1.1,0,0.8,0.8,0,0,0,0,1.121l10.215,10.415a0.749,0.749,0,0,0,.549.232,0.783,0.783,0,0,0,.55-0.232l10.214-10.415A0.788,0.788,0,0,0,294.774,526.232Z', transform='translate(-273.031 -526.031)')
//-добавить
mixin icon-add
	i.icon-add&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='18', height='20', viewBox='0 0 18 20')
			defs
				style.
					.cls-2 {
					fill: #b3b3b3;
					fill-rule: evenodd;
					}
			path.cls-2(id='icon-add.svg', d='M869.784,234.594a0.783,0.783,0,0,0-.785-0.781h-8.081a0.781,0.781,0,1,0,0,1.562H869A0.784,0.784,0,0,0,869.784,234.594Zm-8.866,2.344a0.781,0.781,0,1,0,0,1.562h4.908a0.781,0.781,0,1,0,0-1.562h-4.908Zm1.844,7.5h-2.624a1.567,1.567,0,0,1-1.569-1.562v-13.75a1.568,1.568,0,0,1,1.569-1.563h9.646a1.568,1.568,0,0,1,1.569,1.563v4.805a0.785,0.785,0,0,0,1.569,0v-4.805A3.135,3.135,0,0,0,869.784,226h-9.646A3.135,3.135,0,0,0,857,229.125v13.75A3.135,3.135,0,0,0,860.138,246h2.624A0.782,0.782,0,1,0,862.762,244.437Zm11.549-7.126a2.362,2.362,0,0,0-3.328,0l-4.307,4.28a0.777,0.777,0,0,0-.2.325l-0.938,3.076a0.782,0.782,0,0,0,.75,1.008,0.792,0.792,0,0,0,.21-0.028l3.166-.874a0.786,0.786,0,0,0,.345-0.2l4.3-4.272A2.339,2.339,0,0,0,874.311,237.311Zm-5.26,6.336-1.593.44,0.466-1.529,2.906-2.887,1.11,1.105Zm4.151-4.126-0.152.151-1.109-1.1,0.151-.151a0.789,0.789,0,0,1,1.11,0A0.78,0.78,0,0,1,873.2,239.521Zm-4.2-8.833h-8.081a0.781,0.781,0,1,0,0,1.562H869A0.781,0.781,0,1,0,869,230.688Z', transform='translate(-857 -226)')
//-кисточка
mixin icon-brach
	i.icon-brach&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='12', height='20', viewBox='0 0 12 20')
			defs
				style.
					.cls-3 {
					fill: #41ae1b;
					fill-rule: evenodd;
					}
			path.cls-3(id='icon-brach.svg', d='M565.6,1145.64l0.109,1.11h10.586l0.109-1.11H565.6Zm10.855-6.64h-6.545a0.543,0.543,0,0,0-.487.31l-0.6,1.22-0.6-1.22a0.543,0.543,0,0,0-.487-0.31h-2.182a0.553,0.553,0,0,0-.542.61l0.486,4.92h11.022l0.484-4.92A0.551,0.551,0,0,0,576.454,1139Zm-10.651,8.9,0.082,0.83a2.742,2.742,0,0,0,2.714,2.5h0.669l-0.677,4.83a2.535,2.535,0,0,0,2.2,2.93,2.458,2.458,0,0,0,2.613-2.82l-0.694-4.94h0.669a2.74,2.74,0,0,0,2.713-2.5l0.082-.83H565.8Zm5.571,8.72a0.552,0.552,0,0,1-.772,0,0.568,0.568,0,0,1,0-.79,0.551,0.551,0,0,1,.771,0A0.569,0.569,0,0,1,571.374,1156.62Z', transform='translate(-565 -1139)')
//-сердечко
mixin icon-heart(iconColor)
	.icon-heart(class="icon-heart--"+ iconColor)
		i.far.fa-heart

//-человечек
mixin icon-man
	i.icon-man&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='12.031', height='22', viewBox='0 0 12.031 22')
			defs
				style.
					.cls-5 {
					fill: #b0b0b0;
					fill-rule: evenodd;
					}
			path.cls-5(id='icon-man.svg', d='M260.663,454.2l-2.641-1.628a1.142,1.142,0,0,1-.418-0.561l-0.729-2.8-0.006-.017a0.715,0.715,0,0,0-.706-0.563h-3.556a0.728,0.728,0,0,0-.457.163c-0.016.01-.034,0.018-0.049,0.028l-2.533,1.741a1.014,1.014,0,0,0-.4.958l0.784,4.057a0.8,0.8,0,0,0,.775.62l0.4-.02a0.684,0.684,0,0,0,.488-0.24,0.639,0.639,0,0,0,.134-0.516l-0.547-3.128a0.568,0.568,0,0,1,.214-0.5l0.468-.319v4.7l-0.095,2.555a2.418,2.418,0,0,1-.314,1l-2.394,3.769a0.676,0.676,0,0,0-.075.618,0.711,0.711,0,0,0,.484.41l0.749,0.212a1,1,0,0,0,.265.036,1.093,1.093,0,0,0,.92-0.5l2.283-3.828a3.46,3.46,0,0,0,.4-1.218l0.21-2.093h0.534l0.816,2.024a2.343,2.343,0,0,1,.117,1.04l-0.648,4.011a0.657,0.657,0,0,0,.675.788,0.946,0.946,0,0,0,.117-0.008l0.773-.1a1.079,1.079,0,0,0,.9-0.883l0.523-4.022a3.309,3.309,0,0,0-.125-1.274l-1.123-3.332v-1.252l2.839,1.583a0.748,0.748,0,0,0,.989-0.248l0.186-.3A0.7,0.7,0,0,0,260.663,454.2Zm-6.518-6.161a2.519,2.519,0,1,0-2.6-2.517A2.562,2.562,0,0,0,254.145,448.035Z', transform='translate(-248.969 -443)')


//-метро
mixin icon-metro
	i.icon-metro&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='16', height='12', viewBox='0 0 16 12')
			image(id='icon-metro.svg', width='16', height='12', xlink:href='data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAMAAABcOc2zAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAaVBMVEUAAADtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyTtHyQAAAC/RMHrAAAAIXRSTlMAaxTViDD0i48C5fcZQpCf+gnxxlYV47GtYqDLKNTgOE3c2i6sAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MCEA4DJoVjPEcAAAB5SURBVAjXNYxHEoAwDANFqKH33vT/T2IH0GHH2kkESDyjNB7++IEy8P8eMpInJmL4iZhMgISM325TMsvzjEytEwUlZaksnKj0rGtlpb1pyU6boG1E9LIwjOQ4yEovYiJnLOSCmZyAVT5vuz0Ou28yteLUXLhvXO58AD9AC8/hCARPAAAAAElFTkSuQmCC')


//-колокольчик
mixin icon-notify
	i.icon-notify&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='20.03', height='22', viewBox='0 0 20.03 22')
			defs
				style.
					.cls-6 {
					fill: #b3b3b3;
					fill-rule: evenodd;
					}
			path.cls-6(id='icon-notify.svg', d='M1165.56,47.412c-3.17-1.98-2.99-8.413-2.99-8.51a6.674,6.674,0,0,0-4.67-6.383V31.943a1.915,1.915,0,1,0-3.83,0v0.576a6.69,6.69,0,0,0-4.67,6.415c0.06,1.8-.36,6.829-2.99,8.477a0.948,0.948,0,0,0-.41,1.06,0.929,0.929,0,0,0,.89.686h5.57a3.6,3.6,0,0,0,7.04,0h5.57a0.941,0.941,0,0,0,.9-0.686A0.962,0.962,0,0,0,1165.56,47.412Zm-10.41-.14h-5.97c2.22-3.178,2.09-8.142,2.08-8.369a4.725,4.725,0,1,1,9.45-.032c-0.01.254-.15,5.223,2.07,8.4h-7.63Z', transform='translate(-1145.97 -30)')

mixin notify-active
	.notify&attributes(attributes)
		.notify-marker
		+icon-notify

//-цена вниз
mixin price-down
	i.price-down&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
			defs
				style.
					.cls-7 {
					fill: #d15656;
					fill-rule: evenodd;
					}
			path.cls-7(id='icon-price-down.svg', d='M944.66,963.98a9.956,9.956,0,0,0-3.639-3.64,10.062,10.062,0,0,0-10.041,0,9.951,9.951,0,0,0-3.64,3.64,10.067,10.067,0,0,0,0,10.04,9.944,9.944,0,0,0,3.64,3.64,10.067,10.067,0,0,0,10.04,0,9.944,9.944,0,0,0,3.64-3.64A10.067,10.067,0,0,0,944.66,963.98Zm-2.526,8.575a7.057,7.057,0,0,1-2.579,2.579,7.127,7.127,0,0,1-7.11,0,7.054,7.054,0,0,1-2.578-2.579,7.12,7.12,0,0,1,0-7.11,7.061,7.061,0,0,1,2.578-2.579,7.127,7.127,0,0,1,7.11,0,7.064,7.064,0,0,1,2.579,2.579A7.127,7.127,0,0,1,942.134,972.555ZM940.168,969h-2.5v-4.584a0.4,0.4,0,0,0-.416-0.417h-2.5a0.4,0.4,0,0,0-.417.417V969h-2.5a0.388,0.388,0,0,0-.391.26,0.4,0.4,0,0,0,.091.456l4.168,4.167a0.442,0.442,0,0,0,.6,0l4.154-4.154a0.487,0.487,0,0,0,.13-0.312A0.4,0.4,0,0,0,940.168,969Z', transform='translate(-926 -959)')

//-вопросик
mixin icon-question
	i.icon-question&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
			defs
				style.
					.cls-8 {
					fill: #b3b3b3;
					fill-rule: evenodd;
					}
			path.cls-8(id='icon-question.svg', d='M1355,239.808a0.977,0.977,0,1,1-.98.977A0.98,0.98,0,0,1,1355,239.808ZM1355,226a10,10,0,1,0,10,10A9.992,9.992,0,0,0,1355,226Zm0,18.437a8.438,8.438,0,1,1,8.44-8.437A8.437,8.437,0,0,1,1355,244.437Zm0-13.417a3.134,3.134,0,0,0-3.13,3.124,0.785,0.785,0,0,0,1.57,0,1.56,1.56,0,1,1,1.56,1.563,0.781,0.781,0,0,0-.78.781v1.953a0.78,0.78,0,1,0,1.56,0v-1.27A3.126,3.126,0,0,0,1355,231.02Z', transform='translate(-1345 -226)')


//-лупа
mixin icon-search
	.icon-search
		i.fas.fa-search
	//- i.icon-search&attributes(attributes)
	//- 	svg(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewBox='0 0 22 22')
	//- 		defs
	//- 			style.
	//- 				.cls-9 {
	//- 				fill: #5696d1;
	//- 				fill-rule: evenodd;
	//- 				}
	//- 		path.cls-9(id='icon-search.svg', d='M1041.66,50.038l-5.43-5.446a8.644,8.644,0,0,0,2.16-5.71,9.2,9.2,0,1,0-9.19,8.883,9.3,9.3,0,0,0,5.26-1.607l5.47,5.487a1.223,1.223,0,0,0,1.69.032A1.129,1.129,0,0,0,1041.66,50.038ZM1029.2,32.317a6.569,6.569,0,1,1-6.8,6.565A6.69,6.69,0,0,1,1029.2,32.317Z', transform='translate(-1020 -30)')


//-окошки
mixin icon-window
	i.icon-window&attributes(attributes)
		svg(id='icon-window.svg', xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24')
			defs
				style.
					.cls-11 {
					fill: #2c81d1;
					fill-opacity: 0;
					stroke: #b3b3b3;

					stroke-linejoin: round;
					stroke-width: 2px;
					}
			rect.cls-11(x='1', y='13', width='10', height='10', rx='3', ry='3')
			rect.cls-11(x='13', y='13', width='10', height='10', rx='3', ry='3')
			rect.cls-11(x='1', y='1', width='10', height='10', rx='3', ry='3')
			rect.cls-11(x='13', y='1', width='10', height='10', rx='3', ry='3')

//-конверт
mixin icon-mail
	i.icon-mail&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='28', height='22', viewBox='0 0 28 22')
			defs
				style.
					.cls-10 {
					fill: #b3b3b3;
					fill-rule: evenodd;
					}
			path.cls-10(id='mail.svg', d='M234.677,2545H213.323a3.315,3.315,0,0,0-3.323,3.3v15.4a3.315,3.315,0,0,0,3.323,3.3h21.354a3.315,3.315,0,0,0,3.323-3.3v-15.4A3.315,3.315,0,0,0,234.677,2545Zm0,19.09H213.323a0.477,0.477,0,0,1-.5-0.39v-13.36l9.657,8.43a1.046,1.046,0,0,0,.709.27h1.631a1.046,1.046,0,0,0,.709-0.27l9.658-8.43v13.36A0.477,0.477,0,0,1,234.677,2564.09ZM224,2556.15l-9.393-8.24h18.786Z', transform='translate(-210 -2545)')

//-плюс
mixin plus
	i.icon-plus&attributes(attributes)
		svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
			metadata
				// ?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?
				x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
					rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
						rdf:description(rdf:about='')