mixin map-section(mapCode,badgeItems, linkData )
	#map
		iframe(src=" "+ mapCode width="100%" height="420" )
	.section-bottom.section-map--bottom.d-flex
		//- +badge-group(['ЦАО','Замоскворечье'])
		+badge-group(badgeItems)

		.link-group.d-flex
			+link(linkData)
			//- a(href="#").simple-link Садовническая набережная,&nbsp;5&nbsp;стр.1
		.text-info.text-info--metro.d-flex
			each item in metroData
				+metro-station(metroData.Icon, metroData.Name, metroData.Time)

			+metro-station-mobile([{stationName:'Новокузнецcкая',timeNum:'5 минут'},{stationName:'Третьяковская',timeNum:'7 минут'}])