mixin option-panel(panelModif)
	.option-panel.option-panel--desktop
		+link('Следить за объявлениями в этом ЖК','','icon-notify')(class="watch-announcements")
		+link('В избранное','','icon-heart','fix-width')(class=" add-favorite icon-heart--small")
		+text-link('Отправить эл.почтой','#','text-link--line mr-25')
		+text-link('Скачать ПДФ','#','text-link--line mr-25')
		.block-item--note
			+link('Добавить заметку','','icon-add')

		if panelModif == 'full'
			.option-panel__modal
				+text-link('Еще','','showModalBlock')
				.option-panel__modal-block
					+text-link('Отправить в Ватсап','#','text-link--line link-block--pl text-link--line')(target='_blank')
					+text-link('Поделиться в Телеграме','#','text-link--line link-block--pl')(target='_blank')


		+link('Пожаловаться','','icon-question').order-item

	.option-panel.option-panel--mobile
		+link('В избранное','','icon-heart')(class=" add-favorite ")
		+link('Еще','','arrow-down').order-item#showOptions
	.dropdown#dropdown--option(data-control= 'hidden')
		.dropdown-item
			+link('Следить за объявлениями в этом ЖК','', 'icon-notify')(class="watch-announcements")
		.dropdown-item.block-item--note
			+link('Добавить заметку','','icon-add')
		.dropdown-item
			+text-link('Отправить эл.почтой','#','link-block--pl text-link--line')
		.dropdown-item
			+text-link('Скачать ПДФ','#','link-block--pl text-link--line')
		.dropdown-item
			+text-link('Отправить в Ватсап','#','link-block--pl text-link--line')(target='_blank')
		.dropdown-item
			+text-link('Поделиться в Телеграме','#','link-block--pl text-link--line')(target='_blank')
		.dropdown-item
			+link('Пожаловаться','','icon-question').order-item

mixin optionPanel(panelModif, еmailLink, pdfSrc, whatsAppLink, telegramLink)
	.option-panel.option-panel--desktop
		+link('Следить за объявлениями в этом ЖК','','icon-notify')(class="watch-announcements")
		+link('В избранное','','icon-heart','fix-width')(class=" add-favorite icon-heart--small")
		+text-link('Отправить эл.почтой','mailto:'+ еmailLink,'text-link--line mr-25')
		//- +text-link('Скачать ПДФ',pdfSrc,'text-link--line mr-25')
		a.text-link.text-link--line.mr-25(href=''+ pdfSrc download) Скачать ПДФ
		.block-item--note
			+icon-add
			+text-link('Добавить заметку','#')

		if panelModif == 'full'
			.option-panel__modal
				+text-link('Еще','','showModalBlock')
				.option-panel__modal-block
					+text-link('Отправить в Ватсап', whatsAppLink,'text-link--line link-block--pl text-link--line')
					+text-link('Поделиться в Телеграме',telegramLink,'text-link--line link-block--pl')


		+link('Пожаловаться','','icon-question').order-item

	.option-panel.option-panel--mobile
		+link('В избранное','','icon-heart')(class=" add-favorite ")
		+link('Еще','','arrow-down').order-item#showOptions
	.dropdown#dropdown--option(data-control= 'hidden')
		.dropdown-item
			+link('Следить за объявлениями в этом ЖК','', 'icon-notify')(class="watch-announcements")
		.dropdown-item
			.block-item--note
				+icon-add
				+text-link('Добавить заметку','#')
		.dropdown-item
			+text-link('Отправить эл.почтой','mailto:'+ еmailLink,'link-block--pl text-link--line')
		.dropdown-item
			//- +text-link('Скачать ПДФ',pdfSrc,'link-block--pl text-link--line')
			a.text-link.text-link--line.link-block--pl(href=''+ pdfSrc download) Скачать ПДФ
		.dropdown-item
			+text-link('Отправить в Ватсап',whatsAppLink,'link-block--pl text-link--line')(target='_blank')
		.dropdown-item
			+text-link('Поделиться в Телеграме',telegramLink,'link-block--pl text-link--line')(target='_blank')
		.dropdown-item
			+link('Пожаловаться','','icon-question').order-item






