mixin option-panel
	.option-panel.option-panel--desktop
		+link('Следить за объявлениями в этом ЖК','','icon-notify')(class="watch-announcements")
		+link('В избранное','','icon-heart','fix-width')(class=" add-favorite ")
		//- +link('Отправить эл.почтой','','','simple-link--line')
		//- +link('Скачать ПДФ','','', 'simple-link--line')
		+text-link('Отправить эл.почтой','#','text-link--line mr-25')
		+text-link('Скачать ПДФ','#','text-link--line mr-25')
		+link('Добавить заметку','','icon-add')
		+link('Пожаловаться','','icon-question').order-item

	.option-panel.option-panel--mobile
		+link('В избранное','','icon-heart')(class=" add-favorite ")
		+link('Еще','','arrow-down').order-item#showOptions
	.dropdown#dropdown--option(data-control= 'hidden')
		.dropdown-item
			//- +dropdown-double-item('icon-notify', 'Следить за объявлениями','в этом ЖК')
			+link('Следить за объявлениями в этом ЖК','', 'icon-notify')(class="watch-announcements")
		.dropdown-item
			+link('Добавить заметку','','icon-add')
		.dropdown-item
			+text-link('Отправить эл.почтой','#','link-block--pl text-link--line')
		.dropdown-item
			+text-link('Скачать ПДФ','#','link-block--pl text-link--line')
		.dropdown-item
			+text-link('Отправить в Ватсап','#','link-block--pl text-link--line')
		.dropdown-item
			+text-link('Поделиться в Телеграме','#','link-block--pl text-link--line')
		.dropdown-item
			+link('Пожаловаться','','icon-question').order-item






