mixin option-panel
	.option-panel.option-panel--desktop
		+link('Следить за объявлениями в этом ЖК','','icon-notify')
		+link('В избранное','','icon-heart','fix-width')(class=" add-favorite ")
		+link('Отправить эл.почтой','','','line')
		+link('Скачать ПДФ','','', 'line')
		+link('Добавить заметку','','icon-add')
		+link('Пожаловаться','','icon-question').order-item

	.option-panel.option-panel--mobile
		+link('В избранное','','icon-heart')(class=" add-favorite ")
		+link('Еще','','arrow-down').order-item#showOptions
	.dropdown#dropdown--option(data-control= 'hidden')
		.dropdown-item
			+dropdown-double-item('icon-notify', 'Следить за объявлениями','в этом ЖК')
		.dropdown-item
			+link('Добавить заметку','','icon-add')
		.dropdown-item
			+link('Отправить эл.почтой','','','line')(class="link-block--pl")
		.dropdown-item
			+link('Скачать ПДФ','','', 'line')(class="link-block--pl")
		.dropdown-item
			+link('Отправить в Ватсап','','', 'line')(class="link-block--pl")
		.dropdown-item
			+link('Поделиться в Телеграме','','', 'line')(class="link-block--pl")
		.dropdown-item
			+link('Пожаловаться','','icon-question').order-item






