mixin title-block(titleBlockData)
	.title-block.d-flex
		.title-block--left
			.main-title-block.d-flex
				.title-1 !{titleBlockData.mainTitle}
				.subtitle
					span.span-title.text-body #{titleBlockData.subtitleName}
					span.span-details.text-body #{titleBlockData.subtitleDate}
				.price-badge.headline-bold !{titleBlockData.subtitlePrice}

			.main-badge-block.d-flex
				+badge-group(titleBlockData.badgesItems)

				.link-group
					each item in titleBlockData.linkItems
						+link(item.linkText, item.href, item.linkIcon,item.linkClass)

		//- 		.text-info.text-group.d-flex
		//- 			+text-and-icon('icon-metro','Новокузнеcкая','5 минут','пешком','icon-man')
		//- .title-block--right
		//- 	.update-box Обновлено сегодня
		//- 	.price-box.headline-bold от 23 339 642 руб.