extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Страница бесед';


block content
	.wrapper-page
		.main-content.main-content--chat-page
			header.header
				+header('avatar','Иван Марасин','icon-exchange')


		footer.footer
			+page-footer