extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	.container
		.title-1.text-center.mb-55 NEW PROJECT
		.row.mb-30
			.col
				.card.align-items-center.pb-35
					.title-2 UI-Kit
					+button("Перейти", "ui/ui-kit.html")

		.row
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Страница ЖК
					+button("Перейти", "hause-complex-page.html")
			.col-md-4.mb-30
				.card.align-items-center.pb-35
					.title-2 Поиск квартир
					+button("Перейти", "search-result.html")
			//- .col-md-4.mb-30
			//- 	.card.align-items-center.pb-35
			//- 		.title-2 Моя страница
			//- 		+button("Перейти", "test.html")