extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Страница ЖК ';
	- var pageClass = 'index-page';

block content

	.container
		.row
			.col-xl-5
				.apartment-row__column.apartment-row__col--left
					.apartment-row__cell.apartment-row-img
					.apartment-row__cell.apartment-row-data
						.apartment-row__cell-item
							.apartment-row--rooms 1-комнатная кв
							.apartment-row--area 56,4 кв.м.
						.apartment-row__cell-item 5 этаж
							.apartment-row--floor С ремонтом
							.apartment-row--repair
			.col-xl-5
				.apartment-row__column.apartment-row__col--left--center
					.apartment-row-price $354 452
					.apartment-row--price-rub23 333 333 руб
					.apartment-row--price-meter422055 руб/кв.м
			.col-xl-2
				.apartment-row__column.apartment-row__col--right

	.header-wrapper
		.container
			.header
				.header-col
					.logo
						a(href="#")
							img(src="../img/logo.png", width='200' alt="logo")
					.logo-text Профессиональный каталог недвижимости Москвы
					.button
				.header-col
					.header__icon-group
						.header__icon-group__item
							+icon-search
						.header__icon-group__item
							+icon-window
						.header__icon-group__item
							+icon-heart('grey')
						.header__icon-group__item
							+notify-active
					.header__user-lk
						.header__user__avatar
							img(src="../img/avatar.jpg",width='40' height="40" alt="avatar")
						.header__user__lk-dropdown
							a(href="#") Иван Марасин
							+arrow-down


