extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Страница ЖК ';
	- var pageClass = 'index-page';
	- var hcPhotoBlock = {mainPhoto:'big-photo1', hcPhotoThumb:{item1:{itemBig:'big-photo1', itemMini:'mini-photo1'},item2:{itemBig:'big-photo2', itemMini:'mini-photo2'},item3:{itemBig:'big-photo3', itemMini:'mini-photo3'},item4:{itemBig:'big-photo1', itemMini:'mini-photo4'},item5:{itemBig:'big-photo2', itemMini:'mini-photo5'},item6:{itemBig:'big-photo3', itemMini:'mini-photo6'},item7:{itemBig:'big-photo1', itemMini:'mini-photo7'}}, hcMobilPhoto:{item1:{mobilePhoto:'big-photo1',activeClass:'active'}, item2:{mobilePhoto:'big-photo2'},item3:{mobilePhoto:'big-photo3'} } };


	- var hauseObject = {area1:'53',area2:'187',floor:'6',ceilingHeight: '3,1', parkingDescription:'подземная на&nbsp;115&nbsp;машиномест&nbsp;(17–35 кв.м), от&nbsp;4&nbsp;500&nbsp;000&nbsp;руб.&nbsp;за&nbsp;м/м', objItem:{num1:'16', num2:'147'} ,readinessLevel: '3 квартал 2017, сдан ГК',  infrastructure:'Офисные и административные помещения, кафе&nbsp;-&nbsp;кофейня', operationPrice: '328 руб./кв.м', hauseDescription: 'ЖК “Balchug Viewpoint” занимает площадь в один гектар. По&nbsp;соседству с&nbsp;ним&nbsp;расположена небольшая Георгиевская церковь и Болотная площадь с фонтаном и сквером. Жителям комплекса доступна богатая инфраструктура района: медицинские центры, знаменитые театры и музеи, магазины, фитнес&nbsp;-&nbsp;центры.',apartmentDescription: 'Проектом предусмотрено 116 резиденций в формате апартаментов. Площадь резиденций составляет 53–187 кв.м. Для продажи предлагаются одно-,двух-,трех- и-&nbsp;четырехкомнатные апартаменты с&nbsp;гостиничным&nbsp;форматом обслуживания. В квартирах установлены панорамные окна. Из окон открываются шикарные виды на Москву. Высота потолков — 3,1 м', hiddenText:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptates ut mollitia deserunt cumque soluta nihil perspiciatis doloribus impedit a asperiores optio aspernatur fuga, quia neque, aliquam, voluptatem, quisquam consequatur.'};

	- var titleBlock = {mainTitle:'ЖК «Балчуг Вьюпойнт»',subtitleName:'Balchug Viewpoint',subtitleDate:'Сдан в 2017', subtitlePrice:'23 339 642', badgesItems:['ЦАО','Замоскворечье'], linkItems:[{linkText:'ЦАО',href:'#',linkIcon:'',linkClass:'link-hidden'}, {linkText:'Замоскворечье',href:'#',linkIcon:'',linkClass:'link-hidden'},{linkText:'Садовническая набережная, 5 стр.',href:'#'}], metroInfo:{firstIcоn:'icon-metro', stationName:'Новокузнецская', timeNum:' 5минут',iconLast:'icon-man'},updateTime:'Обновлено сегодня'};


block content

	header.header
		+header('avatar','Иван Марасин')
	section.title-block
		.container
			+title-block(titleBlock)
	section.option-panel-wrapper
		+option-panel
	section.full-description
		.container
			.row
				.col-hl-6
					+hc-photoAlbum(hcPhotoBlock)
				.col-hl-6
					+hc-description(hauseObject)
			.button-wrapper.button-wrapper--mobile.text-center
				+button('Позвонить застройщику', '#','btn-add section-btn')

	section.apartment-database
		.container
			+section-top('48&nbsp;предложений', {modif:'border',title:'Отсортировано по',items:[{name:'цене',class:'filter-active filter-toggle-item--left'},{name:'площади',class:'filter-toggle-item--right'}]}, 'от&nbsp;386&nbsp;460&nbsp;руб./кв.м', 'section-top--apartment')

			.apartment-table
				+table-row('1', '#', '54,5', '4','отделка', 'table-photo', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('1', '#', '54,5', '4','без отделки', 'plan1', '320 200', '23 200 500', '340 200', '+7 929 222 5555','цена вниз' )
				+table-row('1', '#', '54,5', '4','отделка', 'table-photo2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('1', '#', '54,5', '4','без отделки', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('1', '#', '54,5', '4','без отделки', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('1', '#', '54,5', '4','без отделки', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )

			.apartment-database__button.text-center
				+button('Показать еще 38 квартир', '#', 'btn-add')(class="section-btn")

	section.section-map
		.container
			+section-top('Расположение')
			#map
				iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A88af189bfbfa54ba0c0d87a73dcb4251c7279d8c8907e9b03d6502a0f7e32370&amp;source=constructor" width="100%" height="420" frameborder="0")
			.section-bottom.section-map--bottom.d-flex
				.badge-group.d-flex
					.badge ЦАО
					.badge Замоскворечье
				.link-group.d-flex
					a(href="#").simple-link Садовническая набережная,&nbsp;5&nbsp;стр.1
				.text-info.d-flex
					+metro-station('icon-metro','Новокузнеcкая','&nbsp;5 минут')
					+metro-station('',', Третьяковская','&nbsp;7 минут')

	section.hc-cards
		.container
			.section-top.d-flex.section-top--hc-cards
				.section-top-title.headline-bold Похожие ЖК
				//-фильтры
				+toggle-block({title:'', items:[{name:'по цене',class:'filter-active'},{name:'по району',class:''},{name:'по станциям метро',class:'filter-active'}]})

			.row
				.col-md-6.col-lg-6.col-xl-3
					+hc-card('card-photo1', 'Садовые кварталы', 'ЦАО, Хамовники, улица Усачева','2 квартал 2019','390 543','Новостройка' )
				.col-md-6.col-lg-6.col-xl-3
					+hc-card('card-photo2', 'Дом на Красина', 'ЦАО, Пресня, переулок Красина, ','Дом сдан во 2 квартале 2014','382 800')
				.col-md-6.col-lg-6.col-xl-3
					+hc-card('card-photo3', 'Нескучный Home&SPA', 'ЮАО, 5-й Донской проезд','1 квартал 2020','371 050','Новостройка' )
				.col-md-6.col-lg-6.col-xl-3
					+hc-card('card-photo4', 'Корона Эйр', 'ЮЗАО, проспект Вернадского, 92к1 ','Дом сдан в 1 квартале 2006','384 500')
	+page-footer