extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Страница поиска квартир ';


block content
	header.header
		+header('avatar','Иван Марасин')
	include ../sections/sr_search-block.pug

	include ../sections/sr_appartment-card.pug
	include ../sections/sr_popular-objects.pug
	footer.footer
		+page-footer