include ../mixins/_buttons.pug

include ../mixins/_links.pug
include ../mixins/_mixins.pug
include ../mixins/_icon-svg.pug
include ../mixins/_header.pug
include ../mixins/_hc-description.pug
include ../mixins/_hc-photo-block.pug
include ../mixins/_hc-card.pug
include ../mixins/_hc-header.pug
include ../mixins/_footer.pug
include ../mixins/_option-panel.pug
include ../mixins/_title-block.pug
include ../mixins/_filter-toggle.pug
include ../mixins/_table-row.pug
include ../mixins/_map-section.pug
include ../mixins/_sr_appartment-photo.pug