script(src="../libs/jquery/jquery.min.js")
script(src="../libs/jquery-custom-scrollbar/jquery.custom-scrollbar.js")
script(src="../libs/bootstrap-4/js/bootstrap.min.js")
script(src="../libs/jquery.nicescroll.js")
script(src="../libs/slick/slick.min.js")
script(defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous")
script(src="https://use.fontawesome.com/e6ceb2e478.js")


block scripts

//- script(src="../js/retina.min.js")
script(src="../js/sr_tooltip.js")
script(src="../js/sr-page.js")
script(src="../libs/truncate_text/snipper.js")
script(src="../js/main.js")


script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
