extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Описание квартиры - текст';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h3 Описание квартиры - текст
		.section-ui
			.row
				.col-xl-8
					+appartmentDescription('75', '3', '3/12', 'Романов', 'С ремонтом','Предлагается единственная квартира такой площади с НОВЫМ ремонтом в стиле эклектика  в доме с подземным паркингом от Дон-строя.', 'Квартира с НОВЫМ ремонтом в стиле эклектика', 'В квартире спланировано: Кухня&nbsp;-&nbsp;гостиная, мастер&nbsp;-спальня, кабинет (или детская). Квартира полностью меблирована предметами интерьера от ведущих Итальянских брендов. Встроенная техника -Miele, сантехника Villeroy&Boch. Продуманная система приточной вентиляции и кондиционирования. Готова к въезду и проживанию. Собственность. Показ в любое время')


		.section-ui
			pre.
				+appartmentDescription('75', '3', '3/12', 'Романов', 'С ремонтом','Предлагается единственная квартира такой площади с НОВЫМ ремонтом в стиле эклектика  в доме с подземным паркингом от Дон-строя.', 'Квартира с НОВЫМ ремонтом в стиле эклектика', 'В квартире спланировано: Кухня&nbsp;-&nbsp;гостиная, мастер&nbsp;-спальня, кабинет (или детская). Квартира полностью меблирована предметами интерьера от ведущих Итальянских брендов. Встроенная техника -Miele, сантехника Villeroy&Boch. Продуманная система приточной вентиляции и кондиционирования. Готова к въезду и проживанию. Собственность. Показ в любое время')


		.section-ui
			pre.
				mixin appartmentDescription(appartmentArea, appartmentRooms, appartmentStage, appartmentSection, repaireСondition, descriptionTextPart1, descriptionSlogan, descriptionTextPart2)


