extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Кнопки
		.section-ui
			h3.pb-20 Базовая кнопка
			+button('Показать телефон', '#','button--basic')
		.section-ui
			pre.
				+button('Показать телефон', '#','button--basic')
		.section-ui
			h3.pb-20 Кнопка Добавить квартиру
			+button('Добавить квартиру', '#', 'btn-add')
		.section-ui
			pre.
				+button('+ Добавить квартиру', '#', 'btn-add')

		.section-ui
			h3.pb-20 Кнопка +7 985 356 4524

			+button('+7 985 356 4524', '#', 'btn-tel contact-phone')
		.section-ui
			pre.
				+button('+7 985 356 4524', '#', 'btn-tel contact-phone')
		.section-ui
			+button('Следить за объявлениями в этом ЖК', '#', 'btn-mode1', 'icon-notify','Следить за ЖК' )
		.section-ui
			pre.
				+button('Следить за объявлениями в этом ЖК', '#', 'btn-mode1', 'icon-notify','Следить за ЖК' )
