extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Комментарии';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Блок комментарии
		.section-ui
			.content-block
				.ch-block
					.ch-title-block
						.ch-title-row
							.ch-title
								span.desk
									+text-link('Развернуть предыдущие комментарии','#')
								span.mb 
									+text-link('Развернуть комментарии','#')
							.ch-subtitle
								span.first еще
								span.mob 2
						.hidden-comments
							+comment("Anton",{author:'Макс,',authorLink:'#',time:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'})
			

				+comment("Anton",{author:'Антон Ленский,',authorLink:'#',time:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'})

				+comment("Anton",{author:'Антон Ленский,',authorLink:'#',time:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'})

				+comment("Anton",{author:'Антон Ленский,',authorLink:'#',time:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'})

				+comment("Janna")

		.section-ui
			pre.
				+comment("Anton",{author:'Антон Ленский,',authorLink:'#',time:'полчаса назад',addClass:'text-link--line',text:'Жанна, у меня есть несколько хороших вариантов, отправлю на почту через полчаса.'})

				+comment("Janna")


		


						
