extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Комментарии';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Карточка новых запросо	
		.section-ui
			.card-offer.card-offer--new
				.card-description
					.card-description-top
						.offer-row.offer-row--swipe
							.badge.badge--dark Новостройка
							+badge-group(['ЦАО','Замоскворечье'])
							+text-link('cardData.address','cardData.addressHref', 'appartment-card--address')
							.appartment--built.text-body.text-body--grey Сдан в 2014
							+metro('Кропоткинская')
							.appartment-page-link
								.share-link-text Поделиться
								+share-link
								+tooltip('cardData.tooltipLink','cardData.mailAddress','cardData.pdfLink')
							
			
						.title-row

						.info-row
						.tools-row
					.card-description-chat

				.agent-card