extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Цветовая схема';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Цветовая схема страниц
		.section-ui

			.color-block
				.color(style="background: #f5f6fa;")
				.color-name @bodyBg
			.color-block
				.color(style="background: #000;")
				.color-name @black
			.color-block
				.color(style="background: #fff;")
				.color-name @white
			.color-block
				.color(style="background: #334860;")
				.color-name @title-1
			.color-block
				.color(style="background: #838385;")
				.color-name @grey
				.color-num #838385
			.color-block
				.color(style="background: #b3b3b3;")
				.color-name @lightGrey
				.color-num #b3b3b3

			.color-block
				.color(style="background: rgba(44,129,209, .2);")
				.color-name @linkLine
				.color-num rgba(44,129,209, .2)
			.color-block
				.color(style="background: rgba(209,86,86, .2);")
				.color-name @linkActiveLine
				.color-num rgba(209,86,86, .2)
			.color-block
				.color(style="background: #d15656;")
				.color-name @redText
				.color-num  #d15656
			.color-block
				.color(style="background: #334860;")
				.color-name @badgeBg
				.color-num #334860
			.color-block
				.color(style="background: #2c81d1;")
				.color-name @darkBlueBg
				.color-num #2c81d1
			.color-block
				.color(style="background:#8eb9e0;")
				.color-name @blueBg
				.color-num #8eb9e0
			.color-block
				.color(style="background:#e5e9f2;")
				.color-name @borderBg
				.color-num #e5e9f2
			//-	добавить новый цвет
			//- .color-block
			//- 	.color(style="background:#e5e9f2;")
			//- 	.color-name @borderBg
			//- 	.color-num #e5e9f2



