extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Цветовая схема';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Цветовая схема страниц
		.section-ui

			.color-block
				.color(style="background: #f5f6fa;")
				.color-name @bodyBg
			.color-block
				.color(style="background: #000;")
				.color-name @black
			.color-block
				.color(style="background: #fff;")
				.color-name @white
			.color-block
				.color(style="background: #334860;")
				.color-name @title-1
			.color-block
				.color(style="background: #838385;")
				.color-name @grey
			.color-block
				.color(style="background: #b3b3b3;")
				.color-name @lightGrey

			.color-block
				.color(style="background: #b3b3b3;")
				.color-name @lightGrey
			.color-block
				.color(style="background: #d15656;")
				.color-name @redText
			.color-block
				.color(style="background: #334860;")
				.color-name @badgeBg
			.color-block
				.color(style="background: #5696d1;")
				.color-name @darkBlueBg
			.color-block
				.color(style="background:#8eb9e0;")
				.color-name @blueBg
