extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Цветовая схема';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h3 Цветовая схема страниц
