extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Footer';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Footer
		.section-ui
			footer.footer
				.footer-top.d-flex
					.logoblock.d-flex
						.logo
							a(href="#")
								img(src="../img/logo.png", width='200' alt="logo")
						.logo-text Профессиональный каталог недвижимости Москвы
					.links-block.d-flex
						a(href='#').simple-link Как присоединиться
						a(href='#').simple-link О каталоге
						a(href='#').simple-link Контакты

					.button-block
						+button('Добавить квартиру', '#', 'btn-add')

				.footer-bottom.d-flex
					.footer-bottom__copyright.
						 &copy;2018 RealtyCat — Профессиональный каталог недвижимости Москвы
					.footer-bottom__politic
						a(href='#').simple-link Политика конфиденциальности

