extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фоторама';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Фоторама
		.section-ui
			+fotorama([{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'}])
		.section-ui
			pre.
				+fotorama([{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'}])
		.section-ui
			+appartment-fotorama([{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo1'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo2'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo3'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo4'}, {bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo5'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo6'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo7'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo8'},{bigFoto:'../img/appartment-page/main-photo1', miniFoto:'../img/appartment-page/mini-photo9'}])


