extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Строка таблицы квартир';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title-2.mb-55.mt-55 ЖК. Строка таблицы квартир

	.container
		.test-block
			.row
				.col-xl-5
					.apartment-row__column.apartment-row__col--left
						.apartment-row-img
						.apartment-row__cell.apartment-row-data
							.apartment-row__cell-item
								.apartment-row--rooms 1-комнатн. кв
								.apartment-row--area 56,4 кв.м.
							.apartment-row__cell-item
								.apartment-row--floor 5 этаж
								.apartment-row--repair С ремонтом
				.col-xl-5
					.apartment-row__column.apartment-row__col--left--center
						.apartment-row-price $354 452
						.apartment-row--price-rub 23 333 333 руб
						.apartment-row--price-meter 422055 руб/кв.м
				.col-xl-2
					.apartment-row__column.apartment-row__col--right
						.button-test
						+icon-heart