extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Строка таблицы квартир';
	- var pageClass = 'body--dashboard';

block content
	.container
		.title-2.mb-55.mt-55 ЖК. Строка таблицы квартир


		+table-row('1', '#', '54,5', '4','без отделки', 'table-photo', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
		+table-row('5', '#', '154,5', '9','с ремонтом', 'plan1', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
		+table-row('1', '#', '54,5', '12','без отделки', 'table-photo2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
		+table-row('3', '#', '94,5', '8','с ремонтом', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )

		.section-ui
			pre.
				+table-row('1', '#', '54,5', '4','без отделки', 'table-photo', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('5', '#', '154,5', '9','отделка', 'plan1', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('1', '#', '54,5', '12','без отделки', 'table-photo2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
				+table-row('3', '#', '94,5', '8','отделка', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )

