extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Строка таблицы квартир';
	- var pageClass = 'body--dashboard';

block content
	.container
		.title-2.mb-55.mt-55 ЖК. Строка таблицы квартир

		.aprtament-table
			+table-row('1', '#', '54,5', '4','с ремонтом', 'table-photo', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
			+table-row('1', '#', '54,5', '4','без ремонта', 'plan1', '320 200', '23 200 500', '340 200', '+7 929 222 5555','цена вниз' )
			+table-row('1', '#', '54,5', '4','с ремонтом', 'table-photo2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )
			+table-row('1', '#', '54,5', '4','без ремонта', 'plan2', '320 200', '23 200 500', '340 200', '+7 929 222 5555' )