extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Строка таблицы квартир';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title ЖК. Строка таблицы квартир


		.apartment-row
			.row
				.col-xl-5
					.apartment-row__column.apartment-row__col--left
						.apartment-row__cell.apartment-row-img
						.apartment-row__cell.apartment-row-data
							.apartment-row__cell-item
								.apartment-row--rooms 1-комнатная кв
								.apartment-row--area 56,4 кв.м.
							.apartment-row__cell-item 5 этаж
								.apartment-row--floor С ремонтом
								.apartment-row--repair
				.col-xl-5
					.apartment-row__column.apartment-row__col--left--center
						.apartment-row-price
						.apartment-row--price-rub
						.apartment-row--price-meter
				.col-xl-2
					.apartment-row__column.apartment-row__col--right
							//- 	.apartment-row.apartment-row--contact
							//- 	.apartment-row.apartment-row--favorite
				//- .apartment-row.apartment-row--img
				//- 	img(src="../img/hc/photo-small1.jpg", alt="фото")
				//- .apartment-row.apartment-row--rooms
				//- 	a(href="#") 1-комнатная квартира
				//- .apartment-row.apartment-row--area 56,4 кв.м.
				//- .apartment-row.apartment-row--floor 5 этаж
				//- .apartment-row.apartment-row--repair С ремонтом
				//- .apartment-row.apartment-row--price $354 452
				//- .apartment-row.apartment-row--price-rub 23 333 333 руб
				//- .apartment-row.apartment-row--price-meter 422055 руб/кв.м
				//- .apartment-row.apartment-row--contact +7 955 555 55 55
				//- .apartment-row.apartment-row--favorite
				//- 	+icon-heart
