extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Секция карточек квартир';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Секция карточек квартир
		.section-ui
			include ../../sections/apartment-cards.pug
