extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Описание';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 ЖК. Описание
		.section-ui
			section.full-description
				include ../../sections/hc-description.pug
		.section-ui
			pre.
				section.full-description
					include ../../sections/hc-description.pug