extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Описание';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 ЖК. Описание
		.section-ui
			.row
				.col-hl-6
					.text-bl Photo
				.col-hl-6
					.hc-description
						.hc-description__top
							.row
								.col-md-5.col-lg-5.pl-0.pr-0
									.hc-description-column.hc-description-column--area
										.hc-description-item
											.headline-bold 53-187 кв.м
											.text-body площадь квартир
										.hc-description-item
											.headline-bold 6
											.text-body этажей
								.col-5.order-2.col-md-2.offset-md-1.col-lg-3.offset-lg-0.order-md-1.pl-0.pr-0
									.hc-description-item.hc-description-item--align
										.text-box
											.headline-bold 3,1м
											.text-body потолки
								.col-7.order-1.col-md-4.order-md-2.col-lg-4.pl-0.pr-0
									.hc-description-item.hc-description-item--btn
										+bag-badge('48', '116' )
						.hc-description__center
							.row
								.col-md-8.col-lg-8.pl-0
									.order-1.hc-description__center-item.text-body--pr
										.headline-body Парковка:
										.text-body.
											 подземная на 115 машиномест (17–35 кв.м), от&nbsp;4&nbsp;500&nbsp;000&nbsp;руб. за м/м

								.order-3.order-md-2.col-md-4.col-lg-2.offset-lg-2.col-hl-4.offset-hl-0.pr-0.col-pl-0
									.hc-description__center-item.headline-body--pl
										.headline-body Готовность:
										.text-body 3&nbsp;квартал&nbsp;2017, сдан ГК

								.order-2.order-md-3.col-md-8.col-lg-8.pl-0
									.hc-description__center-item.text-body--pr
										.headline-body Инфрастуктура:
										.text-body.
											Офисные и административные помещения,кафе-кофейня


								.order-6.col-md-4.col-lg-2.offset-lg-2.col-hl-4.offset-hl-0.pr-0.col-pl-0

									.hc-description__center-item.headline-body--pl
										.headline-body Эксплуатация:
											.text-body 328&nbsp;руб./кв.м
						.hc-description__footer
							.hc-description__footer-content
								.text-body.
									ЖК “Balchug Viewpoint” занимает площадь в один гектар. По соседствус ним расположена небольшая Георгиевская церковь и Болотная площадь с фонтаном и сквером. Жителям комплекса доступна богатая инфраструктура района: медицинские центры, знаменитые театры и музеи, магазины, фитнес-центры.

								.headline-body Квартиры
								.text-body.
									Проектом предусмотрено 116 резиденций в формате апартаментов. Площадь резиденций составляет 53–187 кв. м. Для продажи предлагаются одно-, двух-, трех-и четырехкомнатные апартаменты с гостиничным форматом обслуживания.В квартирах установлены панорамные окна. Из окон открываются шикарные виды на Москву. Высота потолков — 3,1 м
							.hc-description__footer-links
								.footer-links-item
									a(href="#").sample-link Подробнее о ЖК
								.footer-links-item
									a(href="#").sample-link Сообщить о неточности описания