extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Панель опций';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Шапка. Панель опций
		.section-ui
			section.option-panel-wrapper
				+option-panel
		.section-ui
			pre.
				section.option-panel-wrapper
					+option-panel