extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'ЖК. Блок с фото';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 ЖК. Блок с фото
		.section-ui
			.hc-photo-wrapper
				.row
					.col-lg-6
						.hs-photo__switch-block
							.switch-block__main-photo
								img(src="../img/hc/big-photo1.jpg" alt="Фото комплекса")
							.switch-block__thumbnails.d-flex
								.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
									img(src="../img/hc/mini-photo1.jpg"  alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo2.jpg")
									img(src="../img/hc/mini-photo2.jpg" alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo3.jpg")
									img(src="../img/hc/mini-photo3.jpg" alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
									img(src="../img/hc/mini-photo4.jpg" alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo2.jpg")
									img(src="../img/hc/mini-photo5.jpg" alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo3.jpg")
									img(src="../img/hc/mini-photo6.jpg" alt="Фото комплекса")

								.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
									img(src="../img/hc/mini-photo7.jpg" alt="Фото комплекса")
			.hc-photo-mobile
				#hs-photo-slider.carousel.slide(data-ride='carousel')
					.carousel-inner
						.carousel-item.active
							img.d-block.w-100(src='../img/hc/big-photo1.jpg', alt='фото ЖК')
						.carousel-item
							img.d-block.w-100(src='../img/hc/big-photo2.jpg', alt='фото ЖК')
						.carousel-item
							img.d-block.w-100(src='../img/hc/big-photo3.jpg', alt='фото ЖК')
		.section-ui
			pre.
				.hc-photo-wrapper
					.row
						.col-lg-6
							.hs-photo__switch-block
								.switch-block__main-photo
									img(src="../img/hc/big-photo1.jpg" alt="Фото комплекса")
								.switch-block__thumbnails.d-flex
									.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
										img(src="../img/hc/mini-photo1.jpg"  alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo2.jpg")
										img(src="../img/hc/mini-photo2.jpg" alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo3.jpg")
										img(src="../img/hc/mini-photo3.jpg" alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
										img(src="../img/hc/mini-photo4.jpg" alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo2.jpg")
										img(src="../img/hc/mini-photo5.jpg" alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo3.jpg")
										img(src="../img/hc/mini-photo6.jpg" alt="Фото комплекса")

									.thumbnails__image(data-img-path = "../img/hc/big-photo1.jpg")
										img(src="../img/hc/mini-photo7.jpg" alt="Фото комплекса")
				.hc-photo-mobile
					#hs-photo-slider.carousel.slide(data-ride='carousel')
						.carousel-inner
							.carousel-item.active
								img.d-block.w-100(src='../img/hc/big-photo1.jpg', alt='фото ЖК')
							.carousel-item
								img.d-block.w-100(src='../img/hc/big-photo2.jpg', alt='фото ЖК')
							.carousel-item
								img.d-block.w-100(src='../img/hc/big-photo3.jpg', alt='фото ЖК')