extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Title-block';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
		h2 Блок с заголовком
		.section-ui
			include ../../sections/hc-title-block.pug
		pre.
			include ../../sections/hc-title-block.pug