extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Title-block';
	- var pageClass= "body--dashboard";

	block content
		.container.container--left
			.section-ui
			//- h1 Название блока (ЖК «Балчуг Вьюпойнт»)
			.section-ui
				.title-block.d-flex
					.title-block--left
						.main-title-block.d-flex
							.title-1 ЖК «Балчуг Вьюпойнт»
							.subtitle 
							span.span-title Balchug Viewpoint
							span.span-details Сдан в 2017
							.main-badge-block.d-flex
								.badge-group
									.badge ЦАО
									.badge Замоскворечье
									.link-group
										a(href="#").sample-link Садовническая набережная, 5 стр.
										.text-info
											span
												+icon-metro 
												span.text-body Новокузнецкая,
												span.text-body.text-body--grey 5 минут пешком
												.title-block--right
													.update-box Обновлено сегодня
													.price-box.headline-bold от 23 339 642 руб.
