extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Title-block';
	- var pageClass= "body--dashboard";
	- var titleBlock = {mainTitle:'ЖК «Балчуг Вьюпойнт»',subtitleName:'Balchug Viewpoint',subtitleDate:'Сдан в 2017', subtitlePrice:'23&nbsp;339&nbsp;642', badgesItems:['ЦАО','Замоскворечье'], linkItems:[{linkText:'ЦАО',href:'#',linkIcon:'',linkClass:'link-hidden'}, {linkText:'Замоскворечье',href:'#',linkIcon:'',linkClass:'link-hidden'},{linkText:'Садовническая набережная, 5 стр.',href:'#'}], metroInfo:{firstIcоn:'icon-metro', stationName:'Новокузнецская', timeNum:' 5минут',iconLast:'icon-man'},updateTime:'Обновлено сегодня'};

block content
	.container.container--left
		.section-ui
		h2 Блок с заголовком
		.section-ui
			include ../../sections/hc-title-block.pug
		pre.
			include ../../sections/hc-title-block.pug