extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Title-block';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Название блока (ЖК «Балчуг Вьюпойнт»)
		.section-ui

			.wrapper
				.block.block-1
					.title-1 ЖК «Балчуг Вьюпойнт»
					.price-block 23333332232
					.bage-block
						.badge ЦАО
						.badge Замоскворечье
					.bage-block--mobile
						p Привет, мир	
				.block.block-2
					.price 2144454




			//- .wrapper.clearfix
			//- 	.block-title
			//- 		.title-1 ЖК «Балчуг Вьюпойнт»
			//- 	.block-content	
			//- 		.row-title Balchug Viewpoint
			//- 		.row-details Сдан в 2017
			//- 	.block-details.clearfix
			//- 		.row-details Обновлено сегодня
					

										


			//- .wrapper 
			//- 	.block-title
			//- 		.header-row-tittle
			//- 			.title-1 ЖК «Балчуг Вьюпойнт»
			//- 			.row-title Balchug Viewpoint
			//- 			.row-details Сдан в 2017
			//- 		.header-row-details	
			//- 			+badge
								

			//- 	.block-details
			//- 		.header-row-price
			//- 			.row-details Обновлено сегодня 
			//- 			.headline-body От 23 339 642 руб.