extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Иконки svg';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Иконки svg
		.section-ui
			+arrow-down
		.section-ui
			pre.
				+arrow-down
		.section-ui
			+icon-add
		.section-ui
			pre.
				+icon-add
		.section-ui
			+icon-brach
		.section-ui
			pre.
				+icon-brach
		.section-ui
			+icon-favorite
		.section-ui
			pre.
				+icon-favorite
		.section-ui
			+icon-favorite(class="icon-favorite--active")
		.section-ui
			pre.
				+icon-favorite(class="icon-favorite--active")
		.section-ui
			+icon-man
		.section-ui
			pre.
				+icon-man
		.section-ui
			+icon-metro
		.section-ui
			pre.
				+icon-metro
		.section-ui
			+icon-notify
		.section-ui
			pre.
				+icon-notify
		.section-ui
			+notify-active
		.section-ui
			pre.
				+notify-active
		.section-ui
			+icon-price-down
		.section-ui
			pre.
				+icon-price-down
		.section-ui
			+icon-question
		.section-ui
			pre.
				+icon-question
		.section-ui
			+icon-search
		.section-ui
			pre.
				+icon-search
		.section-ui
			+icon-dashboard
		.section-ui
			pre.
				+icon-dashboard
		.section-ui
			+icon-mail
		.section-ui
			pre.
				+icon-mail
		.section-ui
			a(href="#").mobile-button
				img(src="../img/icons/plus.png", alt="")
