extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Иконки svg';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Иконки svg
		.section-ui
			+arrow-down
		.section-ui
			pre.
				+arrow-down
		.section-ui
			+icon-add
		.section-ui
			pre.
				+icon-add
		.section-ui
			+icon-brach
		.section-ui
			pre.
				+icon-brach
		.section-ui
			+icon-heart('red')
		.section-ui
			pre.
				+icon-heart('red')
		.section-ui
			+icon-heart('grey')
		.section-ui
			pre.
				+icon-heart('grey')
		.section-ui
			+icon-man
		.section-ui
			pre.
				+icon-man
		.section-ui
			+icon-metro
		.section-ui
			pre.
				+icon-metro
		.section-ui
			+icon-notify
		.section-ui
			pre.
				+icon-notify
		.section-ui
			+notify-active
		.section-ui
			pre.
				+notify-active
		.section-ui
			+price-down
		.section-ui
			pre.
				+price-down
		.section-ui
			+icon-question
		.section-ui
			pre.
				+icon-question
		.section-ui
			+icon-search
		.section-ui
			pre.
				+icon-search
		.section-ui
			+icon-window
		.section-ui
			pre.
				+icon-window
		.section-ui
			+icon-mail
		.section-ui
			pre.
				+icon-mail
