extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Иконки svg';
	- var pageClass= "body--dashboard";

block content
	.container.container--left
		.section-ui
			h1 Иконки svg
		.section-ui
			+arrow-down
			+icon-basket
		.section-ui
			pre.
				+arrow-down
		.section-ui
			+icon-add
		.section-ui
			pre.
				+icon-add
		.section-ui
			+icon-brach
		.section-ui
			pre.
				+icon-brach
		.section-ui
			+icon-heart
		.section-ui
			pre.
				+icon-heart
		.section-ui
			+link('В избранное','','icon-heart','fix-width')(class=" add-favorite icon-heart--small")
		.section-ui
			pre.
				+link('В избранное','','icon-heart','fix-width')(class=" add-favorite icon-heart--small")
		.section-ui
			+icon-man
		.section-ui
			pre.
				+icon-man
		.section-ui
			+icon-metro
		.section-ui
			pre.
				+icon-metro
		.section-ui
			+icon-notify
		.section-ui
			pre.
				+icon-notify
		.section-ui
			+notify-active
		.section-ui
			pre.
				+notify-active
		.section-ui
			+icon-price-down
		.section-ui
			pre.
				+icon-price-down
		.section-ui
			+icon-question
		.section-ui
			pre.
				+icon-question
		.section-ui
			+icon-search
		.section-ui
			pre.
				+icon-search
		.section-ui
			+icon-dashboard
		.section-ui
			pre.
				+icon-dashboard
		.section-ui
			+icon-mail(style='display: block;')
		.section-ui
			pre.
				+icon-mail
		.section-ui
			+icon-flag
		.section-ui
			pre.
				+icon-flag
		.section-ui
			+icon-exchange
		.section-ui
			pre.
				+icon-exchange