extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = ' Стили для ссылок ';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left
			.section-ui
				h2 Стили для ссылок
			.section-ui
				h3(style="padding-bottom: 20px;") Ссылка с иконкой(подчеркивание градиентом)
				+link('В избранное','#','icon-heart')

			.section-ui
				pre.
					Код данного примера
					+link('В избранное','#','icon-heart')
			.section-ui
				pre.
					Полный миксин для ссылки
					mixin link(linkText,href, linkIcon,linkClass)

			.section-ui
				h3(style="padding-bottom: 20px;") Простая ссылка с пунктиром(подчеркивание бордером)
				+text-link('Подробнее','#')
			.section-ui
				pre.
					Код данного примера
					+text-link('Подробнее','#')
			.section-ui
				pre.
					Полный миксин для ссылки
					mixin text-link(linkText,href,linkClass)
			.section-ui
				h3(style="padding-bottom: 20px;") Простая ссылка сплошное подчеркивание
				+text-link('Скачать ПДФ','#','text-link--line')
			.section-ui
				pre.
					Код данного примера
					+text-link('Скачать ПДФ','#','text-link--line')
			.section-ui
				pre.
					Полный миксин для ссылки
					mixin text-link(linkText,href,linkClass)
			.section-ui
				h3(style="padding-bottom: 20px;") Ссылка для заголовка
				+link-title('Садовые кварталы', '#')

			.section-ui
				pre.
					Код данного примера
					+link-title('Садовые кварталы', '#')
			.section-ui
				pre.
					Полный миксин для ссылки
					mixin link-title(linkText, href)
			
			.section-ui
				pre.
					Ссылка-кнопка с количеством квартир
					.link-btn



