extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = ' Стили для ссылок ';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left
			.section-ui
				.title Стили для ссылок
			.section-ui.d-flex
				+link('В избранное','','icon-heart')
				+link('Добавить заметку','','icon-add')
				+link('Еще','','arrow-down')
				+link('Скачать ПФД','','', 'line')
				+link('В избранном','','icon-heart')

			.section-ui
				pre.
					+link('В избранное','icon-heart')
					+link('Добавить заметку','icon-add')
					+link('Еще','arrow-down')
					+link('Скачать ПФД','', 'line')
					+link('В избранном','icon-heart')


			.section-ui

				+dropdown-double-item('icon-notify', 'Следить за объявлениями','в этом ЖК')
			.section-ui
				pre.
					+dropdown-double-item('icon-notify', 'Следить за объявлениями','в этом ЖК')