extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = ' Стили для ссылок ';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left
			.section-ui
				.title Стили для ссылок
			.section-ui
				+link('избранное','icon-heart')
				+link('отписаться','icon-add')
				+link('отправить','arrow-down')
				+link('отправить','', 'line')