extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'карточка квартиры';
	- var pageClass = 'body--dashboard';
	-var apprtCard1 = {apprtPhotoBlock:{ apprtMobilPhoto:{item1:{mobilePhoto:'sr-slider1',activeClass:'active'}, item2:{mobilePhoto:'sr-slider2'},item3:{mobilePhoto:'sr-slider1'} } },fotorama:[{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'},{bigFoto:'app1', miniFoto:'app1-mini1'}],tooltipLink:'http://realtycat.pro/36732',tooltipMail:'info@mail.ru',tooltipPdf:'../img/test.pdf', title:'3-комн. кв., 156 кв.м., 3/6 этаж', titleHref:'#',  price:'135 000 000',priceUsd:'350 000',areaPrice:'865 400',  hcName:'ЖК «Дом у Пречистенских ворот»',hcHref:'#', appartBuilt:'Сдан в 2014', metroName:'Кропоткинская', region:['ЦАО', 'Хамовники'],address:'1-й Обыденский переулок, 12 стр. 1',addressHref:'#',repaireText:'С ремонтом',paragrafe1:'Трехкомнатная квартира с отделкой в спокойном классическом стиле площадью&nbsp;156&nbsp;кв.м.',paragrafe2:'Функциональная планировка: кухня, гостиная с балконом и видами на Храм Христа Спасителя, 2&nbsp;спальни&nbsp;со&nbsp;своими ванными комнатами и большим балконом, гардеробная, постирочная.',paragrafe3:'На подземном паркинге есть 1 машино-место. Продается без мебели',paragrafe4:'Клубный «Дом у Пречистенских Ворот» — это шестиэтажный особняк, образец классического стиля. В&nbsp;здании работают бассейн, тренажерный зал, сауна, детская игровая площадка. Территория комплекса оснащена',phoneNumber:'+7 985 356 4524', publicDate:'Добавлено сегодня' }



block content
	.container.container--left
		.section-ui(style="margin-top: 250px;")
			+appartment-card(apprtCard1)
		.section-ui
			pre.
				+appartment-card(apprtCard1)

				-var apprtCard1 = {apprtPhotoBlock:{mainPhoto:'app1', apprtPhotoThumb:{item1:{itemBig:'app1', itemMini:'app1-mini1'},item2:{itemBig:'app2', itemMini:'app1-mini2'},item3:{itemBig:'app1', itemMini:'app1-mini3'}}, apprtMobilPhoto:{item1:{mobilePhoto:'app1',activeClass:'active'}, item2:{mobilePhoto:'app1'},item3:{mobilePhoto:'app1'} } }, title:'3-комн. кв., 156 кв.м., 3/6 этаж', titleHref:'#',  price:'135 000 000',areaPrice:'865 400',  hcName:'ЖК «Дом у Пречистенских ворот',hcHref:'#', appartBuilt:'Сдан 2014', metroName:'Кропоткинская', region:['ЦАО', 'Хамовники'],tooltipLink:'http://realtycat.pro/36732',tooltipMail:'info@mail.ru',tooltipPdf:'../img/test.pdf', address:'1-й Обыденский переулок, 12 стр. 1',addressHref:'#',repaireText:'С ремонтом',paragrafe1:'Трехкомнатная квартира с отделкой в спокойном классическом стиле площадью&nbsp;156&nbsp;кв.м.',paragrafe2:'Функциональная планировка: кухня, гостиная с балконом и видами на Храм Христа Спасителя, 2&nbsp;спальни&nbsp;со&nbsp;своими ванными комнатами и большим балконом, гардеробная, постирочная.',paragrafe3:'На подземном паркинге есть 1 машино-место. Продается без мебели',paragrafe4:'Клубный «Дом у Пречистенских Ворот» — это шестиэтажный особняк, образец классического стиля. В&nbsp;здании работают бассейн, тренажерный зал, сауна, детская игровая площадка. Территория комплекса оснащена',phoneNumber:'+7 985 356 4524', publicDate:'Опубликовано сегодня' }

