extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'карточка квартиры';
	- var pageClass = 'body--dashboard';
	- var apprtPhotoBlock = {mainPhoto:'app1', apprtPhotoThumb:{item1:{itemBig:'app1', itemMini:'app1-mini1'},item2:{itemBig:'app1', itemMini:'app1-mini2'},item3:{itemBig:'app1', itemMini:'app1-mini3'}}, apprtMobilPhoto:{item1:{mobilePhoto:'app1',activeClass:'active'}, item2:{mobilePhoto:'app1'},item3:{mobilePhoto:'app1'} } };

block content
	.container.container--left
		.section-ui
			.title Карточка квартиры
		.section-ui
			.appartment-card
				.appartment-card__img
					+appartment-photo(apprtPhotoBlock)
				.appartment-card__text

