extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточка квартиры на мобильном';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			h3 Карточка квартиры на мобильном

		.section-ui
			.appartment-card--mobile
				.appartment-card--mobile__slider
