extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопка количество комнат';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Кнопка количество комнат
		.section-ui
			+link-btn-block('1','2','3','4+')

