extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фильтр поиска';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Фильтр поиска
		.section-ui

			.search-block 
				.search-block-row.search-block-row--header
					.search-row-item
						.search-item-title Комнат
						+link-btn-block('1','2','3','4+')
					.search-row-item.search-row-item--doubleinput
						.search-item-title Площадь, кв.м
						+input-block--double('text','от','','text','до')
					.search-row-item.search-row-item--doubleinput
						.search-item-title Стоимость,
							+text-link('рубли','#')
						+input-block--double('text','от','','text','до')
					.search-row-item.search-row-item--input
						.search-item-title Адрес или ЖК
						+input-block('text','Улица, район, ЖК, адрес')
					.search-row-item.search-row-item--flex
						+link('Еще','#','arrow-down')
					.search-row-item.search-row-item--flex
						+button('Показать', '#','button--basic')

				.search-block-row
				.search-block-row
				.search-block-row
				.search-block-row
				//- .search-header
					.section-top.d-flex
						.section-top-title--rooms Комнат
							+link-btn-block('1','2','3','4+') Комнат
						.section-top-title--area Площадь, кв.м
							
						.section-top-title--value Стоимость, рубли
						.section-top-title--adress Адрес или ЖК
							+link('Еще','#','arrow-down')
							+button('Показать', '#','button--basic')
						
						
						
			