extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фильтр поиска';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Фильтр поиска
		.section-ui

			.search-block
				.search-block-row.search-block-row--header
					.search-block-col.search-block-col--jc
						.search-row-item.search-row-item--rooms
							.search-item-title Комнат
							+link-btn-block('1','2','3','4+')

						.search-row-item.search-row-item--doubleinput
							.search-item-title Площадь, кв.м
							+input-block--double('text','от','','text','до')
						.search-row-item.search-row-item--doubleinput
							.search-item-title Стоимость,&nbsp;
								+text-link('рубли','#')
							+input-block--double('text','от','','text','до')

					.search-block-col
						.search-row-item.search-row-item--input
							.search-item-title Адрес или ЖК
							+input-block('text','Улица, район, ЖК, адрес')
						.search-row-item.search-row-item--flex
							+link('Еще','#','arrow-down')
						.search-row-item.search-row-item--flex
							+button('Показать', '#','button--basic')

				.search-block-row.search-block-row--body
					.search-block-col.search-block-col-left
						.search-row-item.search-row-item--pb
							.search-item-title Содержит слова
							+input-block('text','Укажите любое слово')
							.search-item-subtitle Можно ввести несколько слов через запятую

					.search-block-col.search-block-col-right.d-flex
						.search-row-item.search-row-item-badge
							.search-item-title Отделка
							+badge-group(['с ремонтом','без отделки'])
						.search-row-item.search-row-item-link
							+text-link('Сбросить параметры поиска','#')
				.line
				
				//- .search-block-row
				//- .search-block-row
				//- .search-block-row


				