extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Фильтр поиска';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.title Фильтр поиска
		.section-ui

			.search-block
				.search-block-row.search-block-row--header
					.search-block-col.search-block-col--jc
						.search-row-item.search-row-item--rooms
							.search-item-title Комнат
							+link-btn-block('1','2','3','4+')(class="rooms-num")

						.search-row-item.search-row-item--doubleinput
							.search-item-title Площадь, кв.м
							+input-block--double('text','от','','text','до')
						.search-row-item.search-row-item--doubleinput
							.search-item-title Стоимость,&nbsp;
								+text-link('рубли','#')
							+input-block--double('text','от','','text','до')

					.search-block-col
						.search-row-item.search-row-item--input
							.search-item-title Адрес или ЖК
							+input-block('text','Улица, район, ЖК, адрес')
						.search-row-item.search-row-item--flex
							+link('Еще','#','arrow-down')



							.search-row-item.search-row-item--flex
							+button('Показать', '#','button--basic')

				.search-block-row.search-block-row--body
					.search-block-col.search-block-col-left
						.search-row-item.search-row-item--pb
							.search-item-title Содержит слова
							+input-block('text','Укажите любое слово')
							.search-item-subtitle Можно ввести несколько слов через запятую

					.search-block-col.search-block-col-right.d-flex
						.search-row-item.search-row-item-badge
							.search-item-title Отделка
							+badge-group(['с ремонтом','без отделки'])
						.search-row-item.search-row-item-link
							+text-link('Сбросить параметры поиска','#')
				.line
				.search-block--footer.d-flex
					.mobile-badge-block.mobile-badge-block--first
						.search-item-title Округ
						+badge-group(['ЦАО','ВАО','СВАО','СЗАО','ЗАО','ЮЗАО','САО'])(class="click-badge")
					.areas-badges.mobile-badge-block.mobile-badge-block--four
						+badge-group(['Арбат','Замоскворечье и Якиманка','Москва-Сити','Остоженка','Патриаршие','Пресня','Таганка','Тверская','Хамовники','Чистые пруды','Басманный'])
					.mobile-badge-block.mobile-badge-block--second
						.search-item-title Дом
						+badge-group(['Новостройка','Сдан'])

					.mobile-badge-block.mobile-badge-block--third
						.search-item-title Дополнительно
						+badge-group(['Без апартаментов','Только аппартаменты'])

				.line
				.save-search-block.d-flex
					.save-search-block.save-search-block--title
						span Сохраненные&nbsp;поиски:
					.save-search-block.save-search-block--result
						+text-link('2-комн., 50-100 кв.м., в САО и СВАО','#','text-link--line')
						+text-link('Однушки и двушки в ЦАО','#','text-link--line')
					.save-search-block.save-search-block--edit
						+text-link('Редактировать&nbsp;поиски','#')







