.search-save
	.search-save-title Сохраненные поиски
	+arrow-down
		.search-edit-items--mobile
			+text-link('2-комн., 50–100 кв.м., в САО и СВАО','#','text-link--line')
			+text-link('Двушки с ремонтом','#','text-link--line')
			+text-link('Редактировать','#')(class="open-save-items")