extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left
			.section-ui
				.title Стили для заголовков и текста
			.section-ui

				.title-1 Заголовок 
			.section-ui
				pre.
					.title-1 Заголовок


				.title-2 Популярные объекты 
			.section-ui
				pre.
					.title-2 Популярные объекты


				.headline-body Заголовки в карточках: Парковка, Инфраструктура, Готовность
			.section-ui
				pre.
					.headline-body Заголовки в карточках: Парковка, Инфраструктура, Готовность


				.headline-bold Заголовки разделов: 48 Предложений, Расположение 
			.section-ui
				pre.
					.headline-bold Заголовки разделов: 48 Предложений, Расположение
		

				.text-body Основной текст в карточках  
			.section-ui
				pre.
					.text-body Основной текст в карточках 


				.text-mob__title Заголовок на мобильных: Balchug Viewpoint  
			.section-ui
				pre.
					.text-mob__title Заголовок на мобильных: Balchug Viewpoint 
					

				.text-mob__details Дополнительный текст на мобильных: Сдан в 2017  
			.section-ui
				pre.
					.text-mob__details Дополнительный текст на мобильных: Сдан в 2017 

				.text-add Детали серым текстом: 5 мин.пешком 
			.section-ui
				pre.
					.text-add Детали серым текстом: 5 мин.пешком









