extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content

	.main-wrapper
		.container.container--left
			.section-ui
				.title Стили для заголовков и текста
			.section-ui
				.title-1 Заголовок
				.title-2 Заголовок 2 уровня
